[2017-10-04 02:29] ronaldtse opened #10 "Handcraft XML or Nokogiri?"
@opoudjis @paolobrasolin

Most of the gem right now is in handcrafted-XML. Would it be cleaner if we use an actual XML gem like Nokogiri? At least it would make any necessary namespacing and RELAX-NG validation much easier.

[2017-10-09 06:36] ronaldtse opened #9 "Supporting rfcbibxml via asciidoctor-bibliography: BibTeX, CSL, something else?"
In [RFC 7991](https://tools.ietf.org/html/rfc7991#section-2.40) and [RFC 7749](https://tools.ietf.org/html/rfc7749#section-2.19) the `<reference>` element is defined.

For simplicity let's call this "`rfcbibxml`".

It would be great if `rfcbibxml` is a counterpart of BibTeX or CSL, but it contains potentially more information (7991):

* One `<front>` element (Section 2.26), which contains:
   * On

[2017-10-27 08:53] opoudjis opened #8 "Complete migration of XML generation to Nokogiri"
... where possible; the middle1 sentinel is going to be fiddly.

[2017-10-29 23:48] opoudjis opened #7 "Spec comparison of RFC XML samples by XML output"
I prefer the looser #66, comparison of xml2rfc TXT output, but for v3 XML output is all that is available.

[2017-12-17 23:16] opoudjis opened #5 "Reenable draft-iab-html-rfc-bis external refs"
[&W3C.REC-CSS2-20110607;](https://xml2rfc.tools.ietf.org/public/rfc/bibxml4/reference.W3C.REC-CSS2-20110607.xml) and [&W3C.REC-html5-20141028;](https://xml2rfc.tools.ietf.org/public/rfc/bibxml4/reference.W3C.REC-html5-20141028.xml) have encoding issues in their online documentation; need to get these emended by IETF. Once they have done so, will reenable them in the rspec of draft-iab-html-rfc-bis

[2018-01-26 07:52] opoudjis opened #4 "Redo rubocop"
Including eliminate all global variables, replacing them with class variables

[2018-06-28 01:53] ronaldtse opened #3 "Extract RFC bib fetching / caching / citation functionality into `rfcbib`"
This work is to extract the RFC/I-D bibliographic information fetching / caching / citation functionality into https://github.com/riboseinc/rfcbib/.

[2018-06-28 03:34] ronaldtse opened #2 "Restructure asciidoctor-rfc to the Metanorma structure"
Refactor asciidoctor-rfc into the same structure as asciidoctor-iso and asciidoctor-gb.

[2018-12-08 14:42] ronaldtse opened #1 "Make references work just like how normal Metanorma does"
Right now this gem depends on bibliographic entries in Bib XML.

We need to change it to use the Relaton flow, where the RFC XML is auto fetched.

[2018-12-08 14:44] ronaldtse opened #6 "Considering using `rfc2629.xslt` for testing v2/v3 equivalence"
Julian Reschke suggested that we can try out his `rfc2629.xslt`. I'm thinking that we can use it for testing our backend v2/v3 equivalence. Thoughts @opoudjis ?

Link: https://www.greenbytes.de/tech/webdav/rfc2629xslt/rfc2629xslt.html#v3

[2018-12-08 14:46] ronaldtse opened #11 "Update RFC XML V3 processor to follow new schema"
Apparently the V3 schema has changed so much that our generated v3 XML is raising tons of warnings when read by `xml2rfc`.

This issue is to align our generated XML with the latest RFC XML V3 schema.

[2018-12-14 07:10] opoudjis commented on #7
... It makes no sense to make this high priority, when the gem and its output is about to be overhauled completely, and the XML is pretty much guaranteed not to be identical. Especially when the v3 XML has changed anyway, so that the v3 XML samples are now obsolete. @ronaldtse Did you have something else in mind?

[2018-12-15 13:57] abunashir commented on #2
@ronaldtse: I see a recent commit from you, is the change to metanorma re-structure done? do you still want me to look into this one?

[2018-12-15 14:11] ronaldtse commented on #2
I’ve migrated the gem to fit into the new structure, but everything said by @opoudjis is still to be done.

So please help with this. Thanks!

[2018-12-15 14:54] ronaldtse commented on #2
Nice! As mentioned above by @opoudjis, we don’t need to implement Metanorma XML -> HTML / TXT output , those are supported by IETF’s own tools. Ie. Metanorma XML -> RFC XML v2/3 -> HTML / TXT (via the “xml2rfc“ tool).

[2018-12-16 17:40] abunashir commented on #2
Hi @ronaldtse, I'm trying to familiarize myself with the document structure, how different is the `ieft` document compare to an `iso` document?

When we will map this one to intermediate `isoxml` then    what are `ieft` specific attributes that's differe from the strandard document? For example we have this doc for [gb-specific-attributes](https://github.com/riboseinc/metanorma-gb#differences-from

[2018-12-17 08:15] ronaldtse commented on #1
@abunashir FYI, this is probably for you 😉

[2018-12-18 06:47] ronaldtse commented on #2
Elements in an `IETF` document is a subset of ISO, so technically we don't need to implement extra custom elements for it. I think the only special attributes are the author addresses. Can @opoudjis confirm?

[2019-01-03 16:00] abunashir opened #12 "Access to this github repository"
Hi @ronaldtse, I'm starting a new development branch `metanorma-ietf-v2`, but can't push directly to this repo. Could you please add me to this one as well?

[2019-01-03 16:14] ronaldtse commented on #12
@abunashir added!

[2019-01-03 16:14] #12 closed

[2019-01-03 16:17] abunashir commented on #12
Perfect works like a charm 🎉 Btw, Happy New Year @ronaldtse!

[2019-02-03 15:09] abunashir opened #15 "Convert Metanorma XML to RFC XML"
Hi, this just placeholder to keep a reference of what needs to be done on this process

[2019-02-03 15:59] abunashir commented on #15
Hi @ronaldtse, @opoudjis: Can you refer me to a complete example of an IETF document (in asciidoc) that I can use as a reference point to make sure this conversion process covers it all?

[2019-02-09 15:17] abunashir commented on #15
@ronaldtse: Any thoughts on this one?

[2019-02-10 08:15] ronaldtse commented on #15
@abunashir there are many examples in our GitHub account. These are some RFCs submitted to the IETF datatracker:

* Minimal example: https://github.com/riboseinc/rfc-asciirfc-minimal
* Very long example: https://github.com/riboseinc/rfc-asciidoc-rfc
* https://github.com/riboseinc/rfc-divination-cfapi
* https://github.com/riboseinc/rfc-camelot-holy-grenade

We just need to ensure the generated RFC

[2019-02-22 05:32] ribose-jeffreylau opened #16 "Tool to convert RFC XML v2 and v3 to Metanorma Asciidoc"
In CalConnect, there's interest in a tool that supports converting from RFC XML v2 to Metanorma Asciidoc.  Having such a tool would help transition existing documents already in RFC XML to Metanorma.

[2019-02-23 16:43] abunashir commented on #15
Cool, thanks @ronaldtse! I will start working on it next

[2019-03-11 06:49] opoudjis commented on #16
Comparable existing tools:

* https://xml2rfc.tools.ietf.org: IETF tool to convert RFC XML v2 to HTML and TXT
* https://github.com/riboseinc/rfc2md: Ribose tool to convert RFC XML v2 to Markdown

rfc2md would be an appropriate starting point for this project. It is, in retrospect, somewhat naive about RFC XML v2 structure, and it is in XSLT, which means only a mother could love it. But the existin

[2019-04-08 05:13] opoudjis commented on #5
Unassinging myself. If this ever gets actioned, let me know.

[2019-04-08 05:16] opoudjis commented on #7
@abunashir Since you're overhauling metanorma-ietf, it makes no sense for this issue to stay assigned to me. It's about rationalising rspec on comparing generated RFC XML with existing RFC XML, and it hasn't been actioned in one and a half years...

[2019-04-21 08:36] CAMOBAP795 opened #21 "Use VCR to mock network calls"
To make tests more stable maybe make sense to add VCR (https://travis-ci.org/metanorma/metanorma-ietf/jobs/522671392)

cc @opoudjis @ronaldtse

P.S. I can help if need

[2019-04-21 22:02] ronaldtse commented on #21
@CAMOBAP795 agree, please go ahead.

[2019-04-25 10:56] opoudjis commented on #21
@CAMOBAP795 reminder: I am no longer maintaining metanorma-ietf; @abunashir has a long-term project underway to migrate it from Asciidoctor > RFC XML to Asciidoctor > Metanorma XML > RFC XML, to align it with our other gems. For any queries relating to metanorma-ietf, please inform him.

[2019-05-15 18:38] ronaldtse opened #22 "Bugs in XML generation"
@opoudjis , Metanorma-IETF is generating problematic RFC XML in https://github.com/CalConnect/csd-vpoll/pull/1

Specifically, `xml2rfc` complains:

[code]

Line 529 is due to the stray `<figure/>` element (if I remove it, it works)
<img width="647" alt="Screen Shot 2019-05-16 at 2 36 35 AM" src="https://user-images.githubusercontent.com/11865/57800218-6d51a880-7783-11e9-92f9-1d454bbacfff.png">

Li

[2019-05-16 09:20] opoudjis commented on #22
There are errors and missteps in Asciidoctor in this document. To have me be the one debugging them instead of the author is regrettable.

The use of `[example]` with no delimiter, but with continuation blocks, as in:

[code]

is something Asciidoctor has difficulty with, to the extent that it fails to recognise even the first paragraph as an example: that's why the `<figure/>` tag is closed prema

[2019-05-16 09:24] ronaldtse commented on #22
@opoudjis an interesting reminder -- you and I were the ones who did the original conversion 😉

This is why we must fully parse the document using Asciidoctor into our document model before serializing anything out.

[2019-05-16 09:25] opoudjis commented on #22
The refusal to process formatting in table cells is because of a v2 constraint on not permitting blocks in cells; the content of cells is being processed as cell.text, not cell.content.

... In retrospect (two years of retrospect), the code shouldn't be doing that  intervention here (and it's backfiring anyway). I will parse the table cell contents fulls as cell.content; if there is a parse error

[2019-05-16 09:28] opoudjis commented on #22
That is either done under the aegis of the metanorma-ietf upgrade to Metanorma XML (which I am not going to be involved in), or it is a request to add Metanorma XML conversion as internal validation on top of the current Asciidoctor > RFC XML functionality (which is duplicating the metanorma-ietf upgrade to Metanorma XML, and which I'm not going to be involved in either.)

[2019-05-16 09:35] opoudjis commented on #22
These two parse errors have been addressed, and a new bunch of errors are now being reported.

[code]

Metanorma-ietf expects that examples are going to be :listing, :image, :literal, :stem. It does not expect prose in there, and it expects any prose in there to be preambles before a listing, :image, :literal, :stem. Hence, the prose-only example has just preambles in it, and no artwork.

I don't

[2019-05-16 09:42] ronaldtse commented on #22
It is why we need to do exactly that.

The point is: a Metanorma AsciiDoc should be processable into valid CSD and valid RFC XML. The RFC XML errors are not wrong -- it is what we generate that is wrong.

[2019-05-16 10:02] opoudjis commented on #22
Am detecting examples that have only text content in them, and treating them as paragraph text in v2 RFC XML instead of as examples. This is a one-off fix; the reengineering is a big project that I am not undertaking.

[2019-05-16 10:05] #22 closed

[2019-05-16 16:17] douglm opened #23 "column width values need to be rounded"
Setting relative column widths can break the xml2rfc conversion to text as the width is output as a decimal number with a fractional part. MUST be integer followed by '%'

[2019-05-16 17:18] ronaldtse commented on #23
This is from https://github.com/CalConnect/csd-vpoll

ADoc:
<img width="322" alt="Screen Shot 2019-05-17 at 1 18 04 AM" src="https://user-images.githubusercontent.com/11865/57873756-a0f30800-7841-11e9-9fda-df904f82fca0.png">

XML:
<img width="497" alt="Screen Shot 2019-05-17 at 1 07 09 AM" src="https://user-images.githubusercontent.com/11865/57873190-1a89f680-7840-11e9-8b1a-547b508bbb92.png">

[2019-05-16 19:33] douglm opened #24 "List headers separated from content"
The generated xml for a list is this:

[code]

whereas it was

[code]

I don't have much opinion one way or the other as to style but it does lead to the problem below

[code]

The list header ("Purpose") is getting detached from the text. Is there a way to force the header to stay with the associated text?

[2019-05-17 00:08] opoudjis opened #25 "admonition treatment"
RFC Asciidoctor and Metanorma Asciidoctor are not designed to be compatible, and making them compatible is a major undertaking I will not be undertaking. There is a distinct initiative to refactor this gem to align it to Metanorma Asciidoctor, assigned to @abunashir, which is currently on hold.

This ticket is to do a piecemeal update to metanorma-ietf: instead of rendering admonitions as `cref` e

[2019-05-17 00:22] opoudjis commented on #25
I have added this to metanorma.com documentation. I am reluctant to fix the rspec of this gem to match: this gem has now fallen off the deep end anyway.

[2019-05-17 00:36] ronaldtse commented on #25
@opoudjis please help add a spec for this; otherwise this fix will truly drop from the face of the earth on the upcoming refactor.

[2019-05-17 00:59] opoudjis commented on #24
As I noted in the code, the added vspace in a definition list is extraneous to the RFC XML spec, but is required by IDNITS.

This is automated XML generation, so either all definition list single paragraphs (like this) have a blank space before them, or none of them do.  I strongly suspect that the workflow into xml2rfc is presupposing some manual post-editing of the XML.

[2019-05-17 02:22] ronaldtse commented on #24
This is an unfortunate flaw / incompatibility between xml2rfc and idnits.

As mentioned by @opoudjis , idnits complains on a lack of vspace between a DT and DD. But indeed insertion of that will cause xml2rfc to potentially make a page break.

The best way to move ahead with preventing this break is to have an option to not generate the “vspace”. The caveat is that idnits will complain.

Would thi

[2019-05-17 10:27] #23 closed

[2019-05-17 10:39] #25 closed

[2019-05-17 15:26] douglm commented on #24
I'm fine with whatever will generate least work.

We can leave things where they are for the moment

On 5/16/19 22:22, Ronald Tse wrote:

[2019-05-17 15:39] ronaldtse commented on #24
Then let's do an option that omits the insertion of the `<vspace>` between `<dt>` and `<dd>` in RFC XML output. That should be straightforward.

@opoudjis does that sound reasonable?

[2019-05-17 17:36] douglm opened #26 "More space between table rows"
Tables displayed in other than ietf ascii have some space between rows.

This used to be accomplished for rfcs in hand-crafted XML by adding an empty row. So in hand crafted form we'd get:

     | Method         | Description                                      |
     +----------------+--------------------------------------------------+
     | PUBLISH        | No changes (yet)

[2019-05-18 08:25] ronaldtse commented on #21
@CAMOBAP795 please help if you can. Thanks!

[2019-05-19 05:36] ronaldtse commented on #26
It supports adding empty rows in the table to achieve the same effect, but it somewhat waters down the semantics of the generated XML...

Original code:
[code]

Empty row added:
[code]

[2019-05-19 23:01] opoudjis commented on #24
Well, I think by the end there are going to be a mountain of options, but OK. This in particular does deserve it.

@douglm I try to restrict gem releases to fortnightly; will you be OK to download from github as I go?

[2019-05-19 23:12] opoudjis commented on #24
It turns out this functionality is already supported: add document attribute `:inline-definition-lists:` to the document header.

(I had thought this was going to impact the XML output  as a preprocessing instruction, which is why I didn't mention it, but it turns out it is specific to this context only.)

[2019-05-19 23:12] #24 closed

[2019-05-19 23:13] opoudjis commented on #11
... This will have been overtaken by events anyway, since the whole gem is going to change.

[2019-05-20 00:07] ronaldtse commented on #24
@opoudjis darn -- it was implemented 2 years ago (https://github.com/metanorma/metanorma-ietf/commit/b1f036bb560b8f6c1eb277b5561b75fe93a40cf5). Apparently we had the same need before.

And it's documented too:
https://www.metanorma.com/author/ietf/ref/document-attributes/

[2019-05-20 02:24] opoudjis commented on #24
I prefer to think of it as: I anticipated the need. Of course, it was two years ago, so I completely forgot I had.

[2019-05-20 02:46] douglm commented on #24
Thanks - I've been out for the weekend but I'll give this a try

On 5/19/19 19:12, Nick Nicholas wrote:

[2019-05-20 02:47] douglm commented on #24
I've lost count of the times I start implementing something and discover
I already did it

On 5/19/19 22:24, Nick Nicholas wrote:

[2019-05-29 09:09] #21 closed

[2019-06-06 08:50] wsdwl opened #30 "create IETF template"
It would be nice to be able to create an IETF document in the same way, as it is possible with csd and ISO described here: https://www.metanorma.com/blog/2019-04-26-metanorma-templates-and-metanorma-new/

Would help a lot in the CalConnect  group to increase the usage and migration of drafts being worked on.

[2019-06-06 13:31] ronaldtse commented on #30
Thanks @wsdwl , we will get it done this weekend!

[2019-06-20 16:41] ronaldtse commented on #30
Pending: https://github.com/metanorma/metanorma-cli/issues/93

[2019-07-18 18:21] ronaldtse opened #33 "Bug: During `xml2rfc`, ENTITY file cannot use gem's rfc2629.dtd path"
Right now, the XML file generated contains these lines:

[code]

When I run `xml2rfc`, it fails like this:

[code]

But when I return the DTD file to local scope (how it was before):

[code]

`xml2rfc` works!

[code]

@CAMOBAP795 this is urgent. Can you help fix this ASAP? I'm not sure if we even need to actually point to the rfc2629.dtd file. The code seems to work even if there is no local rfc26

[2019-07-18 19:17] CAMOBAP795 commented on #33
@ronaldtse on it

[2019-07-18 20:12] CAMOBAP795 commented on #33
@ronaldtse I think there is a better solution than just reverting https://github.com/metanorma/metanorma-ietf/commit/a3f3f8f85f60e045af73d7c8fe7e7dcde2b4a45b because we will break `Jing` validation back

### Investigation

I have reproduced the issue locally

The problem that according to provided "rfc2629.dtd" which is bundled into `metanorma-ietf-1.0.4` this document really invalid

But when you

[2019-07-19 19:19] ronaldtse commented on #33
1. How is this document invalid? We should not be generating an invalid document.

2. We can point to https://raw.githubusercontent.com/metanorma/metanorma-ietf/master/rfc2629.dtd directly for the DTD location.

3. How do you know xml2rfc is using an internal DTD? The “local” DTD is identical to the one inside metanorma-ietf .  If the xml2rfc has an internal DTD, we should update ours to the xml2r

[2019-07-20 09:28] CAMOBAP795 commented on #33
To be honest, I'm not an expert in DTD, but as I understand the error message `<string>: Line 1: No declaration for attribute base of element reference` We use somewhere `base` in our xmls

I have `grep`ed:
 - local XMLs
 - remote ones (like https://xml2rfc.ietf.org/public/rfc/bibxml/reference.RFC.2119.xml)

No success... then I paid attention to this:

[code]

And

[code]

So looks like xml2rfc p

[2019-07-21 20:24] ronaldtse commented on #33
#35 has been merged. @CAMOBAP795 can you confirm that the `xml2rfc --verbose draft-vassilev-acvp-drbg.xml` command now works? Thanks!

[2019-07-21 20:27] CAMOBAP795 commented on #33
@ronaldtse works when I tested locally, but we need to release new version of gem with this logic to fix it for users

[2019-07-22 01:04] ronaldtse commented on #33
Got it. Could you also test the git version just to be sure? Thanks!

[2019-07-27 13:39] CAMOBAP795 commented on #33
@ronaldtse  Confirmed

[2019-07-27 17:03] ronaldtse commented on #33
Thanks @CAMOBAP795 , do we need a new release of `metanorma-ietf`?

[2019-07-27 17:52] CAMOBAP795 commented on #33
@ronaldtse I think so

[2019-07-27 18:15] ronaldtse commented on #33
Ping @opoudjis , can we have a release soon? Thanks!

[2019-07-29 02:19] opoudjis commented on #33
I refer you to my answer elsewhere on that.

[2019-09-16 12:53] opoudjis commented on #3
Oh wow. It's been two years.

https://github.com/metanorma/metanorma-ietf/blob/master/lib/asciidoctor/rfc/common/base.rb

cache_biblio(), insert_biblio()

[2019-09-22 18:22] CAMOBAP795 commented on #33
@ronaldtse I think this can be closed

[2019-09-23 00:01] ronaldtse commented on #33
Thanks for reminding!

[2019-09-23 00:01] #33 closed

[2019-10-31 04:19] ronaldtse opened #39 "Unable to compile csd-icalendar-series (urgent)"
Reported here: https://github.com/CalConnect/csd-icalendar-series/issues/1

@opoudjis could you help check? Thanks!

[2019-10-31 07:50] opoudjis commented on #39
Example contained list erroneously instead of paragraph as preamble; list was not being flatted from array processing to string when concatenated into example preamble.

[2019-10-31 10:13] #39 closed

[2019-10-31 23:46] opoudjis opened #40 "Rescue if fail to read biblio cache"
[code]

The JSON.parse needs to be rescued.

[2019-11-01 00:03] ronaldtse commented on #40
The reason this fails is that:

1. The file is empty.
2. The file is corrupt (broken JSON)

Also, the line:
[code]

Should be changed to
[code]

[2019-11-06 07:27] opoudjis commented on #40
Changing the cache name will break software in production, and I find a concern with branding in an invisible config file to be silly.

OTOH, if this disrupts anyone's workflow, I'll happily blame you. :-)

Updating metanorma.com to reflect this. asciidoctor-rfc is frozen, and thus shall not be updated.

[2019-11-06 08:19] opoudjis commented on #40
Also doing some fixes to align gem with asciidoctor 2.0.x

[2019-11-06 08:22] #40 closed

[2019-11-06 10:39] ronaldtse commented on #40
Disagree. This is a bug for incomplete migration of branding. Anyway it's fixed now, so it's OK.

[2019-11-07 12:23] andrew2net commented on #3
@ronaldtse in the test there is a reference `ISO.IEC.10118-3`, but I don't see such a reference on any of pages:
https://xml2rfc.tools.ietf.org/public/rfc/bibxml
https://xml2rfc.tools.ietf.org/public/rfc/bibxml2
https://xml2rfc.tools.ietf.org/public/rfc/bibxml3
https://xml2rfc.tools.ietf.org/public/rfc/bibxml4
https://xml2rfc.tools.ietf.org/public/rfc/bibxml5
https://xml2rfc.tools.ietf.org/public/

[2019-11-07 12:58] ronaldtse commented on #3
@andrew2net ISO/IEC 10118-3 of course should be fetched via relaton-iso 😉

[2019-11-08 10:43] opoudjis opened #41 "there should be a mn-samples-ietf"
There are a bunch of sample XML documents in metanorma-ietf that can profitably be moved to mn-samples-ietf

[2019-11-08 10:58] opoudjis opened #42 "Asciidoctor 2.0.x makes all Appendixes numbered"
Formerly, by default appendixes were unnumbered. Asciidoctor 2.0.x forces all appendixes to be numbered, so the attribute `numbered` cannot be set to false on any appendix (`back/section`).

[2019-11-08 10:59] opoudjis commented on #42
This is pretty brute force of Asciidoctor, but the possibility that an IETC appendix would need to be unnumbered is remote enough that it is not worth implementing a workaround.

[2019-11-08 10:59] #42 closed

[2019-11-08 11:32] ronaldtse commented on #41
@opoudjis what do you need me to do?

[2019-11-08 13:41] opoudjis commented on #41
Create the repo, and I'll dump the sample files across from metanorma-ietf

[2019-11-08 14:26] ronaldtse commented on #41
@opoudjis I'm sure you have access to create the repo, but sure.

[2019-11-08 14:27] ronaldtse commented on #41
@opoudjis done.

[2019-11-11 19:16] #3 closed

[2019-11-12 01:55] opoudjis commented on #41
@ronaldtse Obvi not just create the repo, but set up all those GitHub Actions things that the other samples directories have.

[2019-11-12 01:58] ronaldtse commented on #41
@opoudjis you can just copy/paste the `.github/` directory over from any of those :wink:

[2019-11-12 01:59] opoudjis commented on #41
OK

[2019-11-19 16:05] andrew2net opened #45 "Compiling fail"
I tried compile document and got error:
[code]
Tested on ruby-2.4.0

[2019-12-02 01:29] opoudjis commented on #4
Closing, overtaken by reimplementation

[2019-12-02 01:29] #4 closed

[2019-12-02 01:30] opoudjis opened #47 "Reimplement gem to align to rest of metanorma"
Replaces #15

Starts with implementing all of https://tools.ietf.org/html/rfc7991

Will then iterate around to implementing https://tools.ietf.org/html/draft-levkowetz-xml2rfc-v3-implementation-notes-10

And then will test against RFC 8651: https://www.rfc-editor.org/pipermail/rfc-interest/2019-October/010850.html

Will need to document mapping of attributes and markup from prior v3 metanorma-ietf

[2019-12-02 01:30] #15 closed

[2019-12-02 01:34] opoudjis commented on #41
This will contain RFC 8651. Not clear to me whether it should contain more than that.

[2019-12-02 01:35] opoudjis commented on #16
This would now need to become v3 XML.

[2019-12-02 01:35] opoudjis commented on #8
Obsoleted by #47

[2019-12-02 01:35] #8 closed

[2019-12-02 01:36] opoudjis commented on #2
Obsoleted by #47

[2019-12-02 01:36] #2 closed

[2019-12-02 01:36] opoudjis commented on #1
Obsoleted by #47

[2019-12-02 01:36] #1 closed

[2019-12-02 01:37] opoudjis commented on #11
Obsoleted by #47, second phase (Levkowwtz draft)

[2019-12-02 01:37] #11 closed

[2019-12-02 01:39] opoudjis commented on #10
Overtaken by #47

[2019-12-02 01:39] #10 closed

[2019-12-02 01:40] opoudjis commented on #7
Overtaken by #47. Reluctant to insist on literally replicating all XML RFC in a given document (especially when that XML is likely to be hand crafted.)

[2019-12-02 01:40] #7 closed

[2019-12-02 01:45] ronaldtse commented on #30
@wsdwl sorry for the late reply, apparently it's been done some time ago 👍

The way to execute it is:
[code]

Thanks!

[2019-12-02 01:45] #30 closed

[2019-12-02 03:20] ronaldtse commented on #41
We should include the April fools documents here too, and also the asciirfc document.

[2019-12-10 11:59] opoudjis commented on #45
I can't replicate this:

[code]

[2019-12-10 12:38] opoudjis commented on #45
Innnteresting. I could not replicate for Ruby 2.5.1, but I have for Ruby 2.4.0. Investigating.

[2019-12-10 12:43] opoudjis commented on #45
Got it. In Ruby 2.4, but not Ruby 2.5, the basename of a Tempfile must actually be a base name, and it is being passed a full path if compiled in a separate subdirectory: spec/examples/example-v3.adoc is not a legal Tempfile basename in Ruby 2.4.

[2019-12-10 12:45] #45 closed

[2019-12-11 07:59] paolobrasolin opened #48 "Error: Unable to parse the XML document"
I'm trying to compile an `adoc` document with `html` target using `docker`.

However, it returns an `Error: Unable to parse the XML document` and I'm not sure why.

For concreteness, I'm using [this file](https://github.com/metanorma/asciidoctor-rfc/blob/master/spec/examples/example-v3.adoc) as an example but it happens with other documents too.

Here's the output of `docker run -v "$(pwd)":/metan

[2019-12-12 09:30] paolobrasolin commented on #48
@opoudjis please let me know whether there's any workaround or if I'm doing something wrong -- this is blocking metanorma/tex2mn#72

[2019-12-12 13:08] opoudjis commented on #48
Took me a very very long time to work this out, but the answer is: while xml2rfc now supports RFC XML v3, it does not support RFC XML v3 as specified in RFC 7991 (which is what the published metanorma-ietf and asciidoctor-rfc gems publish), but the version of RFC XML v3 updated through https://tools.ietf.org/html/draft-levkowetz-xml2rfc-v3-implementation-notes-10 . Pure RFC 7991 XML will crash xml

[2019-12-12 13:08] #48 closed

[2019-12-12 14:09] ronaldtse commented on #48
@opoudjis @paolobrasolin the resolution for this is to specify XMLRFC V2 output.

You can do it with this (from the README at https://github.com/metanorma/metanorma-ietf):

[2019-12-17 12:19] opoudjis commented on #47
Spike driven, I have generated a document using new xml2rfc from v3 code.

[2019-12-17 12:20] opoudjis opened #49 "Replace user-supplied anchors for RFC XML references with system-supplied anchors"
Waits on https://github.com/relaton/relaton-ietf/issues/32

[2019-12-19 11:04] opoudjis opened #50 "Gem in Windows is installing wrong version of bundler and failing in Github Actions"
https://github.com/metanorma/metanorma-ietf/runs/356194985

In Mac and Ubuntu, it is correctly installing bundler 2.0.2. In Windows it is installing 2.1.1, and failing; even though the gemspec explicitly requires `spec.add_development_dependency "bundler", "~> 2.0.1"`

This applies to the "new" branch, which we're about to go live with next week. The other Metanorma gems have the same bundler setu

[2019-12-19 11:14] ronaldtse commented on #50
@opoudjis this gem should not have bundler as a dependency.

[2019-12-19 11:25] opoudjis commented on #50
All the other ones do, and they don't have this issue...

[2019-12-20 07:47] CAMOBAP795 commented on #50
Yep I will fix it for other repos too

[2019-12-21 17:36] CAMOBAP795 commented on #50
https://github.com/metanorma/metanorma-build-scripts/commit/d9e1e471d32b6e27cda520d3654b456b866d65ee

I will try to update all repos this weekends

[2019-12-23 09:14] opoudjis commented on #50
I'm doing releases now, so can't wait for this, but it will need to work for next release.

[2019-12-23 23:16] opoudjis commented on #50
Resolved by removing Bundler dependencies.

[2019-12-23 23:16] #50 closed

[2019-12-24 11:51] opoudjis opened #51 "Cite specific drafts of Internet Drafts"
[code]

[2019-12-30 04:53] opoudjis commented on #47
Gem ready to publish, pending approval from @ronaldtse

[2019-12-30 09:47] opoudjis commented on #51
Waiting on https://github.com/relaton/relaton-ietf/issues/33

[2020-01-03 22:44] #49 closed

[2020-01-03 22:45] #47 closed

[2020-01-04 01:38] opoudjis opened #53 "Github Actions Windows build cannot find `xml2rfc` executable"
See https://github.com/metanorma/metanorma-ietf/commit/82dbfa663fa6c350ec119d1ba53f2a04454444ff/checks?check_suite_id=383890170 :

[code]

[2020-01-04 11:45] CAMOBAP795 commented on #53
Fixed https://github.com/metanorma/metanorma-build-scripts/commit/c6ca95ab6cc8b803906293eb023393dcb41c1736 will be updated soon

[2020-01-06 11:28] opoudjis opened #54 "titles can only contain text"
Strip any markup from bibliographic titles.

[2020-01-06 11:42] #54 closed

[2020-01-06 11:50] opoudjis opened #55 "Deal with missing authors in references"
Supply dummy author

[2020-01-06 11:55] opoudjis commented on #55
Noted in documentation that preformatted citations are dispreferred for this reason.

[2020-01-06 12:18] #55 closed

[2020-01-06 14:52] opoudjis opened #56 "Generate single rfc.xml suffix under metanorma"
Metanorma is generating .rfc.rfc.xml

[2020-01-06 15:06] ronaldtse commented on #56
Still broken as of now...

[2020-01-06 15:07] ronaldtse commented on #56
[metanorma] Error: rfc.xml format is not supported for this standard.

[2020-01-06 15:08] ronaldtse commented on #56
The output file path is correct, however, this line doesn't work:
[code]

The fix in 23f849c is really a hack -- it shouldn't be like this.

[2020-01-07 04:04] opoudjis commented on #41
Included April Fools doc, Antioch sample doc.

[2020-01-07 04:04] #41 closed

[2020-01-07 10:47] ronaldtse opened #57 "Incompatible with Relaton-CLI (`extract`, `concatenate`)"
Metanorma-IETF XML documents don't seem to work with Relaton right now.

[code]

[2020-01-07 11:49] opoudjis commented on #56
The line

is nonsense, since the extension is rfc, not rfc.xml, and that's fine.

If I am to not use the fix I have done, then I will be forced to reengineer isodoc to respect the filename it is passed in, when the code *is already working*. Words cannot describe how low a priority this nicety is.

[2020-01-07 11:58] ronaldtse commented on #56
In fact, isodoc should not care about the filename. It should only generate the output and have something else handle the file saving part.

[2020-01-07 13:23] opoudjis commented on #57
Not my problem, it's relaton's

[2020-01-07 13:23] #57 closed

[2020-01-08 08:53] opoudjis commented on #53
Have just updated. Thank you.

[2020-01-08 08:53] #53 closed

[2020-02-10 07:03] opoudjis commented on #51
Will need to ensure that anchor ID is kept constant with the version referencing, and that metanorma.com is updated appropriately.

[2020-03-02 13:17] #51 closed

[2020-04-01 09:33] ronaldtse opened #65 "Make option so that Metanorma controls bibliography, not xml2rfc"
In IETF RFC 7991 it is said that authors should use `ENTITIY` `xinclude` (or similar) to include RFC references.

However, some authors have stated that is undesirable because the document cannot be compiled without an internet connection, even when the XML references are manually inserted (via relaton cache, AsciiBib or manual relaton XML).

An option is necessary for MN IETF to "embed full refer

[2020-04-04 09:38] CAMOBAP opened #66 "rfc-* Repositories, Error: Invalid document before running preptool."
### Scope

For repositories:
  - https://github.com/metanorma/rfc-divination-cfapi
  - https://github.com/metanorma/rfc-camelot-holy-grenade
  - https://github.com/metanorma/rfc-asciidoc-rfc
  - https://github.com/metanorma/rfc-asciirfc-minimal

### Problem

We have a problem with compilation As far as I understood it related to error from `xml2rfc`
<details><summary>xml2rfc error log</summary>
<p

[2020-04-06 09:48] opoudjis commented on #66
These documents need to be rewritten to align with the current metanorma-ietf, which is only compatible with v3 RFC XML. I have not done so, and I have a lot more urgent work than to do so.

[2020-04-06 10:02] CAMOBAP795 commented on #66
@opoudjis thanks for the explanation in case if you know any commit where we did similar tasks please leave it here

[2020-04-17 11:09] opoudjis commented on #65
Added option `:use-xinclude:` to trigger xinclude behaviour.

[2020-04-17 12:35] #65 closed

[2020-05-01 01:22] opoudjis commented on #9
That has long since been done. Closing.

[2020-05-01 01:22] #9 closed

[2020-05-04 06:16] ronaldtse opened #69 "Feature request: pass-through to XML RFC"
This is a suggestion from @petithug (sorry for the late posting!):

The issue is that pass-through at the AsciiRFC level requires to use metanorma XML model, but it would be useful to be able to pass-through xml2rfc, for example to use some of the xml2rfc features that have no equivalent in AsciiRFC, at least until they are implemented.  Let's use `<artset>` as an example.  One cannot do that:

[c

[2020-05-04 06:26] ronaldtse opened #70 "Feature request: allow using local bibliographic items"
Suggestion from @petithug :

Sometimes one has to edit a set of internet-drafts instead of a single document.  The issue here is to keep the version number up to date to the local copies, not to what is already uploaded on the secretariat website.

For example draft-mph-test-01 and draft-mph-test2-04, two different I-Ds referencing each other, could be already uploaded.  Now when I am working on d

[2020-05-04 06:35] ronaldtse commented on #70
I have encountered this issue myself as well — a pair of documents that are both cross-referenced with each other but not yet published.

When you write:
[code]

I assume that draft-mph-test2 the root .adoc file of the other document. Since the metadata of draft-mph-test2 is already in its root .adoc file, we don’t need to fully generate the bibliography of draft-mph-test2. We just need to pick th

[2020-05-06 10:54] opoudjis commented on #69
Passthrough exists now in Metanorma, although it's not broadcast, and downstream processing won't do anything special with it; it would need to be wrapped in something like a tag, yes.

Pass through is obviously utterly meaningless if the target is not exclusively another XML variant: the only current flavour it has any relevance at all is IETF. In other flavours, it's non-Metanorma XML that at le

[2020-05-06 11:00] opoudjis commented on #70
The API has somewhere a switch to alternate between bibitem and bibdata.

Asciidoctor allows you to use its include macro to include a fragment of a document instead of the entire document, so you should be able to get the desired behaviour by using https://asciidoctor.org/docs/user-manual/#include-directive

[2020-05-06 11:41] andrew2net commented on #70
@opoudjis the flavor gems have the parameter `bibdata`, but the `relaton` always save bibdata in a cache, because bibitem doesn't contain the `ext` element. So the `relaton-cli` doesn't have a switch to alternate between bibitem and bibdata. Do we need it?

[2020-05-06 12:39] petithug commented on #69
That's fine, I'll implement it in my fork.

Thanks.

[2020-05-06 13:03] opoudjis commented on #69
We do want to support as much of RFC XML 3 as possible, to avoid the need for passthrough in the first place; I've listed the unsupported elements in https://www.metanorma.com/author/ietf/ref/unsupported-rfc-elements/

@petithug, Could you let us know which of those are a priority for you?

[2020-05-06 13:30] petithug commented on #69
Will do.  I am currently focusing on the bibliography part.

[2020-05-06 16:29] ronaldtse commented on #69
@petithug we will have this implemented.

1. In order to implement this we will need to make a `<passthrough>` block (i.e. so that XML stuff inside the block won't break the document.

2. The passthrough block is format targeted, i.e. it will only be rendered in the desired output format, e.g.

[code]

Any comments on this direction?

[2020-05-07 12:27] opoudjis commented on #69
I've implemented this, pending feedback; the format is:

[code]

I'm using the native passthrough notation of AsciiDoc. Format names the output formats which will use the block; if left out, it will output the passthrough content to all output formats (which for IETF is fine.)

[2020-05-08 12:19] petithug commented on #69
I think that will work just fine, thanks.

[2020-05-08 12:33] ronaldtse commented on #69
There is a caveat in the passthrough:
* The passthrough-ed data automatically becomes XML-valid, because the final RFC XML output is built using an XML engine. The XML engine will close any missing tags if any.

This means that the following usage is not possible now:

[code]

It's certainly feasible to open that possibility but not sure if that's useful, it also involves more resourcing.

There i

[2020-05-08 13:05] petithug commented on #69
I think that the content of the passthrough block should be copied without interpreting it or trying to repair it, directly in the xmlrfc document generated.  If it is incorrect, it is the responsibility of the user to fix it.

The modification is not in fact a new feature, it is bringing back a feature that was existing all along (injecting raw text in the output) but that disappeared when an int

[2020-05-11 11:32] ronaldtse commented on #69
I believe we can implement a real passthrough this way, we just need to run some experiments to see whether we can bypass nokogiri.

[2020-05-12 05:32] ronaldtse commented on #69
I think the proper way to implement non-intrusive passthrough is by wrapping `<passthrough>` tags in MN XML, and then as a last step during rendering, strip the tags away e.g. `gsub`.

This will restore previous behavior, and also allow other formats to accept this kind of passthrough text :

[code]

[2020-05-20 00:51] opoudjis commented on #69
Implementing tonight. If the result of expanding out passthroughs is going to be malformed XML, I'll be aborting execution.

[2020-05-20 02:08] ronaldtse commented on #69
I don’t think we need any error checking here, if the user breaks the result with passthrough, that should be considered intended.

[2020-05-20 10:12] opoudjis commented on #69
The problem is that the postprocessing is going to keep going (down to html2doc for Word documents). Either the broken markup will be silently emended in Nokogiri (although I am now parsing strictly), or the markup will be broken *with no diagnostic statement to help the user*. That's too much.

[2020-05-20 10:56] ronaldtse commented on #69
Thanks @opoudjis ! @petithug can you check whether this satisfies your requirements? Thanks!

[2020-05-20 23:41] opoudjis commented on #69
Note that this won't appear in the released gem until next release, currently scheduled for next Friday.

[2020-06-08 13:05] petithug commented on #69
Going back to this now...
It seems that the passthrough block that I used previously to pass bibitem are no longer processed but passed to xml2rfc.  Apparently what I pass there is wrapped in a <passthrough> element which then pass to the next stage,

That's not what was expected.  The <passthrough> element should be passed in the passthrough block, so at the adoc level, one can choose between iso

[2020-06-09 17:22] ronaldtse opened #75 "`intended-series` not working as intended"
On this page: https://www.metanorma.com/author/ietf/ref/document-attributes/

<img width="803" alt="Screen Shot 2020-06-10 at 1 20 57 AM" src="https://user-images.githubusercontent.com/11865/84179499-a3fa0f80-aab8-11ea-92b3-e40cdfe0999e.png">

I have tried the values:
`standard`
`full-standard`

But the resulting document shows this error:
[code]

Seems that xml2rfc does not treat these values as

[2020-06-09 17:50] ronaldtse opened #76 "AsciiBib entry raising fake asciidoctor error"
The AsciiBib entry is actually entered, but asciidoctor warns nonetheless:

[code]

[code]

The proper output is generated:

[code]

[2020-06-09 17:53] ronaldtse opened #77 "RFC XML output misses details from AsciiBib defined bibitems"
This MN XML snippet

[code]

Becomes this RFC XML:

[code]

Clearly all the authorship information was stripped.

Maybe it had to do with these warnings?

[code]

[2020-06-10 04:51] opoudjis commented on #77
Bad markup. The contributors have no role, they are just randomly plunked there. The expectation is that authors and editors are expressly marked up as such; the implemented logic is:

[code]

If you don't flag any authors (and the markup hasn't), I'm grabbing the contributor flagged as publisher.

Why on earth would the MN XML snippet flag publishers and not authors?! No, put the "author" role in

[2020-06-10 04:51] #77 closed

[2020-06-10 04:52] ronaldtse commented on #77
Because that's not in the documentation on relaton.com

[2020-06-10 04:53] opoudjis commented on #77
...

sigh. Can someone other than me put it in then? I HAVE ENOUGH TO DO.

[2020-06-10 05:00] opoudjis commented on #77
https://github.com/relaton/relaton.com/issues/17

[2020-06-10 20:26] petithug opened #78 "Source block does not apply substitution"
A source block containing literate code looks like this:

[code]

In that case the Bird mark ('>") is converted into a "&gt;", which is corerct according to the AsciiDoctor spec section 37.1.  The right way to solve that is by setting the subs attribute (see 37.7), like this:

[code]

in which case the output should be as expected.  But the renderer seems to ignore that parameter.

[2020-06-13 13:01] ronaldtse commented on #69
@petithug is the purpose here is to insert `<bibitem>` into Metanorma XML (isodoc) to enable local insertion of bibliographic data?

This syntax is already supported if the purpose is to insert passthrough to the end formats:

[code]

If the goal is what I phrased above, can we enable that with allowing interpretation of local bibdata?

[2020-06-13 13:33] petithug commented on #69
The high level concept is two have two different escape hatches, for when a feature is too new to be yet implemented in metanorma (or simply to experiment):

- The first one permits to insert any XML fragment (valid or not) at any place in the Standoc XML tree.  That's how I could insert <bibitem> until recently, but it should not be limited to that.

- The second one permits to insert any XML fra

[2020-06-13 15:16] opoudjis commented on #75
xml2rfc/Levkowetz have chosen to conflate the category and seriesInfo items, but have not redefined category to use the same vocabulary as seriesInfo: category still uses v2 values. Fixing by mapping seriesInfo values to v2 values.

[2020-06-13 15:25] #75 closed

[2020-06-13 15:42] opoudjis commented on #76
Asciidoctor does indeed not support nested sections under `[bibliography]`, and will complain about it. Asciibib relies on sections to delimit new references. If you mix Asciidoctor native and Asciibib sections, that's what's going to happen.

I could hypothetically change the markup of AsciiBib to silence the Asciidoctor warning, by removing the title and using style on definition lists, but I do

[2020-06-13 15:54] opoudjis commented on #76
Pending decision from @ronaldtse

[2020-06-13 16:11] opoudjis commented on #76
A macro could take care of this (so long as it encompasses the postprocessing currently done on asciibib in standoc); but it would be changing existing markup, and it's not clear that we could preserve titles as markup.

[2020-06-13 17:06] ronaldtse commented on #76
If we are using a macro it would be:

[code]

But as equally we can input Relaton YAML!

[2020-06-14 05:34] ronaldtse commented on #78
The usage of Metanorma AsciiDoc differs from AsciiDoctor; it is only being used for parsing.

Somehow, both symbols quoted are looking identical in unicode:
<img width="429" alt="Screen Shot 2020-06-14 at 1 32 46 PM" src="https://user-images.githubusercontent.com/11865/84585556-8a9fed00-ae43-11ea-9ff7-d473e90fbbd5.png">

The renderer is not supposed to make any substitutions inside source blocks.

[2020-06-14 13:14] petithug commented on #78
Yes, basically '<', '>' are rendered as "&gt;" and ""&lt", etc... which makes the source block ("----") unusable.  I use examples block instead ("....") but now I have some empty lines mysteriously disappearing...  Here's an example from my Computerate Specifying spec:

[code]

is rendered as

[code]

[2020-06-15 07:29] ronaldtse commented on #78
I think the `>` is escaped to `&gt;` for XML. Are you trying to get this output in the target format (i.e. RFC XML) or Metanorma XML? Thanks!

[2020-06-15 09:41] petithug commented on #78
TXT, with RFC XML as intermediary format.

[2020-06-15 11:33] opoudjis commented on #69
Passthrough of Metanorma XML will be realised as:

[code]

or as pass block with no format indication.

[2020-06-15 12:48] petithug commented on #78
A workaround for the missing blank line issue is to add one at the beginning of the block, as only the first blank line is removed.

[2020-06-15 13:18] #69 closed

[2020-06-21 14:07] opoudjis commented on #56
This reengineering is now taking place in https://github.com/metanorma/metanorma-standoc/issues/285 . The format name remains rfc.

[2020-06-21 14:07] #56 closed

[2020-06-22 01:21] ronaldtse commented on #56
Great, thanks.

[2020-06-22 01:21] ronaldtse commented on #56
As long as it is documented on metanorma.com!!

[2020-06-22 18:20] petithug opened #80 "Cross-reference uses title instead of bibliographic entry"
So I have both a bibliographic item with "AsciiDoc" id (I use bibitem in a metanorma passthrough) and a section whose title is also "AsciiDoc".

When I insert a crossreference (using << >>), it is resolved as a the section instead of the bibliographic item.

[2020-06-22 18:22] petithug opened #81 "The "numbered" attribute is ignored in a section"
Using [numbered=false] on a section does not generate the equivalent RFC 7991 value.

[2020-06-22 18:49] ronaldtse opened #82 "Confusion and brokenness of attributes: docname, name, docnumber"
Documentation says:
https://www.metanorma.com/author/ietf/ref/document-attributes/

<img width="778" alt="image" src="https://user-images.githubusercontent.com/11865/85323750-27752100-b4fb-11ea-9420-38c5b96ef349.png">

"rfc@docName will be set to the :name: attribute"

This is not true. `docName` is actually set to `:docnumber:`. Both `:docname:` and `:name:` don't work.

Without setting `:docnumb

[2020-06-22 18:52] ronaldtse opened #83 "Broken `:initials:` attribute"
The initials are not filled in MN XML, and also not passed to RFC XML.

[code]

See:
<img width="451" alt="Screen Shot 2020-06-23 at 2 51 37 AM" src="https://user-images.githubusercontent.com/11865/85324464-77a0b300-b4fc-11ea-8f8d-7ea685e85af1.png">

[2020-06-22 18:55] ronaldtse opened #84 "Warnings raised by xml2rfc on `ascii`"
Warnings raised on every document:

e.g.
[code]

[2020-06-27 10:52] opoudjis commented on #84
Will only populate the ascii attributes if their ASCII translation is distinct from their literal value.

[2020-06-27 11:03] #84 closed

[2020-06-27 11:05] opoudjis commented on #83
Error, it should be `:initials:`

[2020-06-27 11:08] #83 closed

[2020-06-27 13:07] opoudjis commented on #82
The issue with intended-series has already been addressed in https://github.com/metanorma/metanorma-ietf/issues/75, and results from xml2rfc adhoccery (restoring a v2 attribute that is a distinct vocabulary from v3).

[2020-06-27 13:22] opoudjis commented on #82
The intent is indeed to use v3, not v2 attributes for intended-series: informational not info. But I'm going to allow both values in Metanorma XML, outputting the right value in RFC XML.

[2020-06-27 13:33] #82 closed

[2020-07-01 00:01] ronaldtse opened #86 "Failure to compile HTML in metanorma-ietf 2.1.0"
https://github.com/metanorma/acvp-metanorma/runs/824581543?check_suite_focus=true

[code]

[code]

It seems that Metanorma is:
1. Expecting there to be a presentation XML output, but it's created as `draft-gold-acvp-sub-kdf135-x942.` instead of `draft-gold-acvp-sub-kdf135-x942.presentation.xml`
2. The HTML output should be using the rfc.xml output, but is somehow depending on the presentation XML.

[2020-07-01 01:20] #86 closed

[2020-07-01 02:30] ronaldtse commented on #86
Thank you for the fix @opoudjis !

[2020-07-16 00:15] ronaldtse opened #89 "Run schema validation on generated XMLRFC v3 document"
https://svn.tools.ietf.org/svn/tools/xml2rfc/trunk/cli/xml2rfc/data/v3.rnc

Given that we often seen rejected output of XMLRFC v3, it would be wise to first validate ourselves before passing the output to xml2rfc.

[2020-07-16 05:44] ronaldtse opened #90 "Source code showing up as escaped characters in xml2rfc"
Original code:

[code]

<img width="756" alt="Screen Shot 2020-07-16 at 1 43 55 PM" src="https://user-images.githubusercontent.com/11865/87631671-64cf7600-c76a-11ea-9f26-75a6ba11462c.png">

[2020-07-16 05:45] ronaldtse opened #91 "XMLRFC v3 requires a non-empty abstract: raise error if no abstract or is empty"
As title.

[2020-07-16 05:46] ronaldtse opened #92 "XMLRFC v3 requires docnumber attribute to be set, otherwise it fails to process"
Raise error if it is not set.

[2020-07-16 05:51] ronaldtse opened #93 "Validation for and combinations of "submission-type", "intended-series", "doctype", "status""
These two attributes are VERY important for xmlrfc schema validation because if the values they have don't match, schema validation will fail with very miserably confusing errors.

e.g.

This is valid:
[code]

This is valid:
[code]

This is valid:
[code]

Most others are invalid!! If you omit any of these attributes, a schema error will be raised and the user has ZERO idea how to fix them.

We nee

[2020-07-16 05:52] ronaldtse opened #94 "Abstracts used to be `[abstract]`, but now only `.Abstract` works -- why?"
This used to work:

[code]

Now only this works:

[code]

Why?

[2020-07-22 15:41] opoudjis commented on #90
CDATA does not accept escapes, had not realised.

[2020-07-22 15:57] #90 closed

[2020-07-27 23:51] opoudjis opened #95 "xml2rfc updates"
Just stumbled in https://greenbytes.de/tech/webdav/draft-iab-rfc7991bis-latest.html, which presumably supersedes Levkowetz's addenda to RFC 7991. draft-levkowetz-xml2rfc-v3-implementation-notes is also being updated.

Will need to implement any new features.

Not in a rush: xml2rfc v3 is still clearly in experimental stage.

[2020-08-03 15:08] opoudjis commented on #80
... If for whatever reason there is a bibitem and a clause with an identical identifier, that is a markup fail, and it would be preferable to simply abort execution. We cannot assume that bibitems takes priority over clauses for cross-referencing, or vice versa.

That said, a clause `== AsciiDoc` should be getting an id of `_asciidoc`, not `asciidoc`, and should not be causing a clash. Can you pro

[2020-08-03 15:13] opoudjis commented on #78
https://github.com/metanorma/metanorma-ietf/issues/90 has addressed this. The Metanorma XML is escaping the `>` as `&gt;`; but the conversion to RFC XML is converting them to CDATA with raw `>`:

[code]

[2020-08-03 15:13] #78 closed

[2020-08-03 15:14] opoudjis commented on #76
... @ronaldtse is there an action here?

[2020-08-03 16:37] petithug commented on #78
I confirm that these two bugs are now fixed.

[2020-08-03 16:54] petithug commented on #80
Here's a minimal example extracted from my work document.  I use `metanorma -t ietf -x txt test.adoc` to generate the text document.  The two references in the "Overview Of Operations" section then point to the same element.

[code]

[2020-08-06 13:09] opoudjis commented on #94
I don't know whether this is an update from asciidoctor 1.5.8 to asciidoctor 2.1.0, but

[code]

is nonsense in Asciidoctor markup: style attributes in Asciidoctor only apply to titles. Without a title, asciidoctor is detecting that there is a preamble (text before the first section), but is simply ignoring its content: the `node.content` is in fact an empty string, and `node.lines` is an empty li

[2020-08-06 13:09] #94 closed

[2020-08-06 14:41] ronaldtse commented on #80
There are actually two problems here.

1. This block is passthrough'ed to the target format (i.e. Metanorma XML). But since this is passthrough, the Metanorma engine has no understanding of the id `Idris2` until the rendering phase.

[code]

2. We rely on Asciidoctor to parse AsciiDoc. Since the anchor of `<<Idris2>>` cannot be resolved in the compilation stage, Asciidoctor somehow has code to "gu

[2020-08-06 14:43] opoudjis commented on #80
This is a case falling afoul of the asciidoctor parser; https://github.com/asciidoctor/asciidoctor/blob/5845c665c8f8eec0c95154b00adc32c383fc4efc/lib/asciidoctor/substitutors.rb, line 819:

You are parsing a cross-reference which, as far as the Asciidoctor parser is concerned, does not exist: Asciidoctor cannot read pass-throughs. Normally, Asciidoctor will leave such a hanging cross-reference alon

[2020-08-06 14:56] petithug commented on #80
All right, I plan to convert the references as AsciiBib as soon the relaton cli permits to retrieve them in that form.  Meanwhile I'll continue to work around that issue.

Thanks.

[2020-08-06 15:27] ronaldtse commented on #80
@petithug I think we already have a way of converting between AsciiBib and Relaton XML via Relaton CLI. @andrew2net is this true?

[2020-08-07 07:16] andrew2net commented on #80
@ronaldtse I sorry but I didn't have a chance to implement AsciiBib feature. There were a lot of other urgent tasks.

[2020-08-15 13:05] opoudjis commented on #81
I cannot replicate this:

[code]

generates

[code]

and

[code]

generates

[code]

Please provide a document where the attribute is failing.

[2020-08-15 13:30] opoudjis commented on #93
This is not a helpfully formulated ticket.

doctype has a default value of "internet-draft", as documented in metanorma.com, so omitting it does not matter.

submission-type has a default value of "IETF", as documented in metanorma.com, so omitting it does not matter.

The schema does not indicate either intended-series or status to be mandatory. I am forced to do trial and error.

[2020-08-15 14:18] opoudjis commented on #93
I have tested this statement, and it is false. Omitting either or both of the optional attributes intended-series and status does not lead to a schema error. The only error I get is for a numeric vs non-numeric value of docnumber, for RFC vs Internet Draft. And that error is **hardcoded in xml2rfc** : it is not reflected in https://svn.tools.ietf.org/svn/tools/xml2rfc/trunk/cli/xml2rfc/data/v3.rnc

[2020-08-15 14:19] opoudjis commented on #93
This ticket has now degenerated into replicating the source code validation rules of xml2rfc in metanorma, to preempt failure of processing of the RFC XML output.

[2020-08-15 14:37] petithug commented on #81
Here's an example.  The acknowledgment and contributors section should not be numbered in an RFC.

[code]

[2020-08-16 07:03] opoudjis commented on #93
Will not replicate all 47 errors being caught in preprocessing in xml2rfc (xml2rfc/writers/preptool.py), just the ones with the most cryptic error messages.

[2020-08-16 07:04] opoudjis commented on #89
I'll do this, but this won't substitute for https://github.com/metanorma/metanorma-ietf/issues/93 for implementing hardcoded validation rules of xm2lrfc, which are in fact unrelated to the schema.

[2020-08-18 04:38] opoudjis commented on #95
Include: https://xml2rfc.tools.ietf.org/xml2rfc-doc.html

[2020-08-18 10:11] opoudjis commented on #89
Validating, not aborting if errors found.

[2020-08-18 10:12] #89 closed

[2020-08-18 10:14] opoudjis commented on #91
Merge into https://github.com/metanorma/metanorma-ietf/issues/93

[2020-08-18 10:14] #91 closed

[2020-08-18 10:17] opoudjis commented on #93
Am going to enumerate the errors I do and do not implement in hard code. I will catch these in isodoc and not asciidoc phase, because I want to give users the opportunity to manually tweak the RFC XML. Any validation added here will be performed after schema validation, and will case an abort after the RFC XML is generated (so that it can be tweaked, without running RFC XML). However the errors wi

[2020-08-19 12:29] opoudjis commented on #93
47 errors + 24 die : 71

NOT Implemented:

* Expected <%s> attribute "%s" to be an integer, but found "%s"
* Found non-ascii content in <%s> attribute value %s="%s"
* Expected no consensus setting for IRTF stream and no workgroup, but found '%s'.  Ignoring it.
* Expected no consensus setting for independent stream, but found '%s'.  Ignoring it.
* Found non-ascii content without matching ascii attr

[2020-08-20 12:19] opoudjis commented on #93
It turns out that omitting the abstract is entirely fine; it's the empty abstract that's a problem, through the spurious markup of

[code]

with no title—which is incorrect Asciidoctor markup to begin with. I will preempt that error by deleting empty `<abstract>` in document generation.

[2020-08-20 12:39] opoudjis commented on #93
Giving :ipr: the default value of trust200902, it is strongly presupposed in xml2rfc.

[2020-08-23 15:38] petithug opened #97 "Asciibib not accepted"
Now that relaton can convert a bibliography into the asciibib format, I tried it.  Unfortunately the example at https://www.metanorma.com/author/ietf/topics/references/ triggers an error: asciidoctor: ERROR: <stdin>: line 34: bibliography sections do not support nested sections.

Here's the document:
[code]

[2020-08-24 10:17] opoudjis commented on #81
Was not processing numbered attribute on annexes in Metanorma.

[2020-08-24 10:18] #81 closed

[2020-08-25 20:05] ronaldtse commented on #97
@petithug thanks for reporting!

I remember the message of `asciidoctor: ERROR: : line 34: bibliography sections do not support nested sections.` is not a real error. Is the content not generated properly?

[2020-08-25 20:43] petithug commented on #97
Uh, you're right, I was looking as the txt file not being generated, but the rfc.xml is generated with the bibliography. Sorry for that.

But I have in fact this error:

Bibliography: (XML Line 000071): Reference ref1 is missing a document identifier (docid)

Now in fact I thought there was two bugs, one hiding the other.  If I replace the bibliography by one generated by "relaton --convert", I no

[2020-08-26 07:04] ronaldtse commented on #97
@petithug I've filed the Relaton issue.

@opoudjis any thoughts about this?
[code]

[2020-08-31 11:45] opoudjis commented on #97
It's now working, but I'm getting crashes on the input...

[2020-08-31 11:46] opoudjis commented on #97
Debugged:

[code]

[2020-08-31 11:51] opoudjis commented on #97
This bug no longer is reported, and I presume it was because of the file previously not being processed. (The bug fix happened last week, and there has been a Metanorma release since, so you should be able to compile this fine.)

This is the RFC XML now being generated. It looks correct, so I am closing this ticket:

[code]

[2020-08-31 11:51] #97 closed

[2020-08-31 12:02] petithug commented on #97
That RFC XML is not correct, but I'll open a separate bug.

[2020-08-31 12:09] petithug opened #98 "Date incomplete in generated xml2rfc"
a `<reference>` for an RFC should contain a date element with Month and Year.  A `<reference>` for an I-D should contain a date element with Day, Month and Year.
Regardless of the date entered in AsciiBib, metanorma-ietf  should be able to figure out what to put in the xm2rfc element, but it seems that the date is apparently truncated to just Year in metanorma-standoc, and so the problem cannot be

[2020-09-10 19:13] petithug commented on #80
So I converted my bibliography to AsciiBib, but I still have the same issue.  See test file below, where the two cross-reference resolve to the same anchor, although they should not:

[code]

[2020-09-19 10:50] opoudjis opened #100 "GitHub Action not running xml2rfc in OSX"
https://github.com/metanorma/metanorma-ietf/runs/1137559681?check_suite_focus=true

[code]

[2020-09-19 10:52] opoudjis commented on #100
Windows is failing too, but with no error message: https://github.com/metanorma/metanorma-ietf/runs/1137559697?check_suite_focus=true

Ubuntu is generating HTML (as proof of running xml2rfc) fine.

[2020-09-26 21:27] CAMOBAP commented on #100
Fixed

[2020-09-26 21:27] #100 closed

[2020-09-28 11:41] opoudjis commented on #80
Two things: Asciidoctor will continue not parsing the crossreferences properly, so long as it does not see an actual Asciidoctor anchor "Idris2" in the asciidoctor source. So instead of

[code]

you will need to use the variant

[code]

I am adding that variant to documentation.

Second, there is a bug preventing that from working, which I've just fixed, but you will need to wait for the next rele

[2020-09-28 12:02] #80 closed

[2020-10-10 10:50] ronaldtse commented on #76
@opoudjis it doesn't seem immediately actionable, but we're keeping the ticket for the future.

[2020-10-11 08:11] opoudjis opened #103 "xml2rfc seems not to be running in GHA"
https://github.com/metanorma/metanorma-ietf/runs/1237554742?check_suite_focus=true

[2020-10-20 04:28] ronaldtse opened #105 "Wrong tags created for bibliographic items in IETF"
https://github.com/metanorma/ietf-rfc-3339

I'm getting these errors:
[code]

Relevant lines from input:
[code]

It looks like for auto-fetched documents, the generated XML RFC uses the auto-fetch ID for the anchor name, instead of the specified anchor name.

[2020-10-20 04:38] ronaldtse opened #106 "Problem with non-auto-fetched bibliographic references"
Input:

From https://github.com/metanorma/ietf-rfc-3339
[code]

Error in xml2rfc
[code]

[2020-10-20 04:40] ronaldtse opened #107 "Problem with table validation"
[code]

[code]

Source:
[code]

[2020-10-21 11:44] opoudjis commented on #105
The fix needed here is to reassign all crossreferences to also point to the original ID.

[2020-10-21 12:02] opoudjis commented on #105
eref and origin are corrected in postprocessing, but at wrong time.

[2020-10-21 13:00] #105 closed

[2020-10-21 13:08] opoudjis commented on #106
Validation is being triggered on empty attributes, and it should not.

[2020-10-21 13:27] #106 closed

[2020-10-21 13:31] opoudjis commented on #107
The grammar checked in on github has this update, and it's been there for a month. If you aren't accessing the grammar updates, that is not my problem, that is a problem with the gem releases being held up for six weeks.

[2020-10-21 13:31] #107 closed

[2020-10-21 13:35] #103 closed

[2020-11-01 15:19] petithug commented on #80
I confirm that this issue is now fixed.

[2020-11-03 13:01] opoudjis commented on #98
Issue is in our bibliographic processing: the AsciiBib is parsing the dates at the desired granularity, but the XML generated in relaton/relaton-bib is serialising them at year granularity. Raised ticket for my colleague Andrej to address.

[2020-11-13 06:01] ronaldtse commented on #98
FYI @petithug the dependent issue relaton/relaton-bib#34 should be resolved soon, we should be able to resume this shortly.

[2020-11-13 06:28] ronaldtse opened #113 "Structure of bibliography: normative vs informative references"
This input:

[code]

Will cause both `<middle>` and `<back>` to both have duplicated `references` sections which kills the XML RFC output. This is a metanorma-ietf bug.

[code]
Metanorma XML Syntax: (XML Line 000150:93): attribute "inline-header" not allowed here; expected attribute "language", "numbered", "removeInRFC", "script" or "toc"
Metanorma XML Syntax: (XML Line 000150:93): attribute "obli

[2020-11-13 06:29] ronaldtse commented on #16
@Intelligent2013 do you have time for this? Thanks!

[2020-11-14 15:03] opoudjis commented on #98
This issue is resolved and confirmed working in metanorma-ietf unit testing, it will be available next release of metanorma (expected November 23.)

[2020-11-14 15:03] #98 closed

[2020-11-14 17:15] Intelligent2013 commented on #16
@ronaldtse Yes,  I have a time.

I understand this task so:

Source RFC format:
- v2 RFC XML (RFC 7749) https://tools.ietf.org/html/rfc7749
- v3 RFC XML (RFC 7991) https://tools.ietf.org/html/rfc7991

Destination Metanorma Asciidoc IETF format:
https://datatracker.ietf.org/doc/draft-ribose-asciirfc/?include_text=1

Roadmap:
1. Prepare conversion rules for converstion data from RFC XML v2 to Metano

[2020-11-17 13:45] opoudjis commented on #16
Oh wooooooow

@Intelligent2013 https://tools.ietf.org/html/rfc7991 is not the reference you should be using. RFC XML v3 has been laughably unstable, although you might argue it has started to settle down now. But you will need to also consult:

* https://tools.ietf.org/html/draft-levkowetz-xml2rfc-v3-implementation-notes-11 (which is in effect a revision of 7991, and is what is implemented by xml2

[2020-11-17 14:41] ronaldtse commented on #16
Other than the specs the key point is to find a stash of actual RFC XML v2/v3 documents. I think datatracker.ietf.org may have something like this?

[2020-11-20 03:15] opoudjis commented on #113
Hierarchical arrangement of `<clause><references>` needs to be preserved in RFC XML as `references/references`

[2020-11-27 10:11] #113 closed

[2020-12-08 04:01] ronaldtse opened #118 "Definition lists not being treated as terms and definitions"
In IETF the following section gets generated wrongly. Check the image.

[code]

![image](https://user-images.githubusercontent.com/11865/101438187-bf9d8000-394c-11eb-833f-440f75a53db0.png)

[2020-12-08 04:08] ronaldtse opened #119 "Terms and definitions section ignores "notation conventions" as required by RFC 8174"
In RFCs this particular paragraph is required:

However, the current terms and definitions clause does not allow it:

[code]

Will end up as:

<img width="555" alt="Screen Shot 2020-12-08 at 12 08 06 PM" src="https://user-images.githubusercontent.com/11865/101438760-093a9a80-394e-11eb-8289-0a81bb005c52.png">

It is clear to me that the required paragraph can be fit into the semantic meaning of "te

[2020-12-10 14:54] Intelligent2013 commented on #16
Actual RFC XML v3 documents can be founded via https://tools.ietf.org/rfc/. But they are available from RFC8650 (November 2019). The document on https://datatracker.ietf.org/doc/rfc8650/ has link to xml on site https://www.rfc-editor.org/rfc/rfc8650.xml.
In any case all V3 XMLs founded here: https://www.rfc-editor.org/rfc/ (also from 8650), and ~240  xmls there. There xmls in V3 format.
For V2 I d

[2020-12-14 11:41] opoudjis commented on #119
Will be implemented as a "boilerplate" subclause in terms and definitions, which will result in it not getting a subclause header.

[2020-12-15 00:30] opoudjis commented on #118
The fix is:

1. If the definitions list is retained, to introduce an empty boilerplate clause, to suppress the insertion of the "no terms" boilerplate
2. Preferred: to convert to proper terms markup. But suppressing the insertion of boilerplate is a legitimate requirement.

[2020-12-15 01:17] ronaldtse commented on #118
Option 2 is better.

Agree.

[2020-12-18 14:16] ronaldtse commented on #16
Let's use the rfc2mn repository to publish this software. Thanks! https://github.com/metanorma/rfc2mn

[2020-12-27 09:19] opoudjis commented on #118
So, option 2 is for whoever is marking up this document to do.

The options, as of https://github.com/metanorma/metanorma-ietf/issues/119, are:

1. Keep the terms markup as is, do not process it as a set of terms. Turn it into a boilerplate clause, which will also suppress the "No terms and definitions are listed in this document.":

[code]

2. Update the terms markup to real terms markup. Current

[2020-12-27 09:25] opoudjis commented on #119
So the markup here needs to become:

[code]

[2020-12-27 09:28] ronaldtse commented on #118
Can I ask for 6:

* Change IETF to not insert any terms boilerplate.
* Update the terms markup to real terms markup.
* Allow custom content before the T&D listing.

[code]

[2020-12-27 09:29] ronaldtse commented on #119
Can't we do this?

[code]

[2020-12-27 09:52] opoudjis commented on #119
Revising solution, and reversing existing Metanorma behaviour:

* A boilerplate clause replaces existing boilerplate
* Random text at the start of a document is not stripped: it is appended to existing boilerplate.

[2020-12-27 11:12] opoudjis commented on #118
Addressed in #119

[2020-12-27 11:12] #118 closed

[2020-12-27 11:24] #119 closed

[2020-12-28 06:39] Intelligent2013 commented on #16
@ronaldtse How rfc2mn should convert RFC XML v2:
- RFC XML v2 -> Metanorma AsciiRFC v2, or
- RFC XML v2 -> Metanorma AsciiRFC v3 ?

[2020-12-28 07:11] ronaldtse commented on #16
Both versions should be converted to Metanorma AsciiRFC v3, so that people can create new versions of the published RFCs.

[2021-01-27 17:18] Intelligent2013 commented on #16
I have a few questions about mapping rules between some RFC XML elements/attributes and Metanorma AsciiRFC markup:
1. in Metanorma AsciiRFC markup, is the attributes (key=value) order important?
For example, can we put numbered,removeInRFC,toc :
[code]
instead of removeInRFC,tocnumbered ?:
[code]

How to markup these elements/attributes?

2. the attribute `iref/@primary` (https://tools.ietf.org/ht

[2021-02-13 14:59] petithug opened #124 "It should be possible to generate a <sourcecode> element without an enclosing <figure>"
https://www.metanorma.com/author/ietf/topics/markup/#source-code-listings  says that "In RFC XML, sourcecode elements only occur within a figure wrapper".  This is incorrect, RFC 7991 section 2.48 clearly states that &lt;sourcecode&gt; can appear without a figure.

The issue is that forcing a figure wrapper forces the generation of a figure number.  It would be better to not add the figure wrapper

[2021-02-14 02:57] ronaldtse commented on #124
@petithug thanks! You're right. The text on the site probably came from the migration of v2 documentation, and this is a change to be done in the implementation.

For reference the relevant text is:

https://tools.ietf.org/html/rfc7991#section-2.48

[code]

[2021-02-17 11:41] opoudjis opened #125 "Implement index/@primary"
Not currently implemented. Will be implemented with a microformat, as the first term prefixed by `primary:`; so: `((primary:indexterm))`.

[2021-02-17 15:16] opoudjis commented on #16
Not for key=value attributes. Style attributes, such as `[source,...]`, do need to appear first.

I haven't implemented it; will implement it in https://github.com/metanorma/metanorma-ietf/issues/125, as `indexterm2:[primary:firstterm]` or `indexterm:[primary:firstterm, secondterm, thirdterm]`

That element appears to be supplied by the IETF editors; we do not populate it.

No discrete element; in

[2021-02-18 13:12] #125 closed

[2021-03-01 13:51] Intelligent2013 commented on #16
After additional analyse of source RFC XMLs I've found some tags which were added in draft (https://tools.ietf.org/html/draft-levkowetz-xml2rfc-v3-implementation-notes-12, https://trac.tools.ietf.org/tools/xml2rfc/trac/browser/trunk/cli/xml2rfc/data/v3.rng) and exist in real documents:

1.  `/rfc/front/toc` (example: https://www.rfc-editor.org/rfc/rfc8650.xml):
[code]

I propose to ignore it.

2.

[2021-03-07 00:22] petithug opened #127 "Hard line breaks in :address: document header does not generate multiple <postal-line> elements"
Here's an example from the last version of draft-ietf-tram-stun-pmtud.  According to https://www.metanorma.com/author/ietf/ref/document-attributes/#author-attributes, this is the syntax I should use

[code]

But here's the xml2rfc v3 generated:

[code]

It should be:
[code]

[2021-03-07 00:29] petithug opened #128 "Cannot generate standard refererence sections"
A standard reference section has the following shape:

[code]

The issue is that I cannot find a way to generate the equivalent xml2rfc v3 source.

The following does not work (the second section is displayed as "Bibliography".  Also the first one is modified as "Normative references", with a lowercase.  But anyway the "References" section would be missing):

[code]

The following does not work ei

[2021-03-07 08:16] ronaldtse commented on #127
Thanks @petithug for reporting! Seems like a bug to me. We'll get this fixed.

[2021-03-07 08:20] ronaldtse commented on #128
I suspect you meant:

[code]

Or

[code]

Looks like a bug to me. @opoudjis do you have time to verify? Thanks.

[2021-03-08 05:49] opoudjis commented on #128
Confirmed that "Normative References" is being overwritten with "Bibliography".

There is code to process `<references>` recursively, which means that

[code]

should be working. It is not, and I will need to work out why.

[2021-03-08 06:44] opoudjis commented on #16
Agree.

Enclose it: `&lt;<<reference>>&gt;`. It will not roundtrip, but we regard the bracketing of references as presentation--layer in Metanorma anyway.

This is generating unordered lists with no bullet. We actually do support this in IETF Metanorma, as the unordered list attribute `nobullet=true`.

Agree, this was added for analogy with erefs, and we don't have a straightforward way to deal wi

[2021-03-12 11:15] Intelligent2013 commented on #16
rfc2mn updated for conversion rules above, except `rfc/back/section/contact` (example: https://www.rfc-editor.org/rfc/rfc8685.xml). If we move it to document attributes, then text `The following people contributed substantially to the content of this document and should be considered coauthors:` remains non-processed:
[code]

May be process `rfc/back/section/contact` as simple text - i.e. concat a

[2021-03-17 13:05] opoudjis commented on #124
In fact, the code has been expressly wrapping `sourcecode` in `figure` explicitly, presumably as a holdover from v2 RFC XML. This is indeed not needed in v3, and I'm removing it.

[2021-03-17 23:59] ronaldtse commented on #124
Thanks @opoudjis !

[2021-03-18 17:12] CAMOBAP opened #132 "Ruby 3.0 Support"
https://github.com/metanorma/metanorma-cli/pull/233/checks?check_run_id=2129377527

[code]

[2021-03-21 08:21] opoudjis commented on #128
Suppressed normalisation of bibliography names.

[2021-03-21 08:24] opoudjis commented on #128
References generated correctly with the foregoing markup:

[code]

[2021-03-21 08:24] #128 closed

[2021-03-21 08:28] opoudjis opened #134 "Rubocop incompatibility"
https://github.com/metanorma/metanorma-ietf/pull/133

[code]

[2021-03-21 12:11] petithug commented on #128
I confirm that this is fixed.

[2021-03-21 12:46] petithug commented on #124
For some reason, the source code element is still wrapped in a figure element, and I still have to manually remove them.

[2021-03-21 12:52] petithug commented on #127
The generated xml document contains the following which seems correct:
[code]
But the xml2rfc v3 file is back to that:
[code]

[2021-03-21 13:35] ronaldtse commented on #124
@petithug are you trying from the master branch? I don't think a release has happened yet. Otherwise we should reopen the ticket.

[2021-03-21 14:23] petithug commented on #124
Yes, I was testing from the master branch.  Same for the 2 other bugs.

[2021-03-22 11:50] #134 closed

[2021-03-23 04:25] opoudjis commented on #127
Huh. I'm testing for that, so very surprised. Reopening.

[2021-03-23 04:27] opoudjis commented on #124
Reopening

[2021-04-01 01:51] #127 closed

[2021-04-01 13:06] opoudjis commented on #124
I had gotten rid of code that was inserting a figure wrapper around sourcecode in postprocessing. I'm seeing that I was still wrapping sourcecode in a figure in initial processing, in case there was a sourcecode caption, since RFC XML does not allow for distinct sourcecode captions. That's unnecessary, and I'm getting rid of it too.

[2021-04-01 13:47] #124 closed

[2021-04-03 14:00] petithug commented on #124
I confirm that this is fixed.  Thanks.

[2021-04-03 14:03] petithug commented on #127
I confirm that this is fixed.  Thanks.

[2021-04-04 09:21] opoudjis commented on #127
Sorry about last two bugs, in both cases I hadn't fixed it thoroughly enough

[2021-04-13 17:12] ronaldtse opened #138 "Unable to set author in XML RFC v3"
From @douglm

[code]

[code]

[2021-04-13 17:13] ronaldtse commented on #138
@CAMOBAP can we verify this? Thanks!

[2021-04-13 17:25] ronaldtse commented on #138
I have verified that this is a real bug. This occurs in mn-samples-ietf as well:

[code]

=>

[code]

[2021-04-13 17:37] ronaldtse opened #139 "Warnings and errors in documentation generation"
We need to fix the crashing error below.

[code]

[2021-04-14 11:41] opoudjis commented on #138
Please refer to https://www.metanorma.org/author/ietf/ref/document-attributes/#author-attributes

`:organization:` should be `:affiliation`.

`:uri:` should be `:contributor-uri:`. `:uri:` is the document URL.

As noted on the page:

(We did not implement address breakdowns because they do not fit our high level address model currently in Metanorma. Yes, I can implement them, but not quickly.)

So

[2021-04-14 11:48] opoudjis commented on #139
Cannot reproduce with xml2rfc 3.5.0. Is happening with xml2rfc 3.7.0, which means the IETF in their wisdom have broken RFC XML that used to be valid.

[2021-04-14 11:58] opoudjis commented on #139
Bug in xml2rfc 3.7.0:

[code]

should read:

[code]

[2021-04-14 12:01] opoudjis commented on #139
Bug already reported as https://trac.tools.ietf.org/tools/xml2rfc/trac/ticket/619

[2021-04-14 12:01] #139 closed

[2021-04-14 14:51] douglm commented on #138
The example docs probably need changing - pretty sure I compared with those

On 4/14/21 07:42, Nick Nicholas wrote:

[2021-04-15 02:13] ronaldtse opened #140 "Support RFC XML v3 street, city, region, country and code elements"
From metanorma.org:

We used to support these attributes in Metanorma-IETF v2, but they were removed in v3 in favour of the new `postal-line` RFC XML element.

For backwards compatibility, we should support these old attributes, too.

[2021-04-19 17:49] ronaldtse opened #141 "Error: Expecting an element , got nothing, at /rfc/middle/section[3]/section[2]/figure[1]"
https://github.com/CalConnect/csd-vobject-vformat

[code]

Generated MN XML and RFC XML:
[Archive.zip](https://github.com/metanorma/metanorma-ietf/files/6337992/Archive.zip)

[2021-04-20 03:51] opoudjis commented on #138
@ronaldtse has updated the example docs.

https://github.com/metanorma/metanorma-ietf/issues/140 to add address breakdown attributes back in.

[2021-04-20 03:51] #138 closed

[2021-04-20 11:27] opoudjis commented on #141
Source has

[code]

which is being processed as figure/figure/pre. RFC XML cannot cope with nested figures, so metanorma-ietf decomposes this into figure next to figure/pre, but an empty figure is invalid.

The proper cleanup in rendering XML is, if a figure contains only one figure, to strip the outer figure.

[2021-04-28 13:41] CAMOBAP opened #143 "Should we fail on missing xml2rfc?"
Currently, we just print error but return 0 exit code
[code]

Full log: https://github.com/metanorma/packed-mn/runs/2457705761?check_suite_focus=true#step:5:90

@ronaldtse @opoudjis how do you think?

[2021-04-30 09:04] ronaldtse commented on #143
We should definitely return errored code.

[2021-05-05 11:07] CAMOBAP commented on #143
PRs ready for review:
 - #144
 - metanorma/metanorma#186
 - metanorma/mn2pdf-ruby#18

[2021-05-06 08:02] ronaldtse opened #145 "Failure to cite OMG documents"
Reported by @douglm

[code]

@andrew2net can you please help here? Is this a version issue since we recently just fixed this?

[2021-05-06 09:17] andrew2net commented on #145
OMG site's layout has been changed. Relaton-OMG supports the new layout from version 1.7.2. The last version of relaton-omg is 1.7.3

[2021-05-06 09:17] #145 closed

[2021-05-07 05:21] ronaldtse opened #146 "Bug with `[abstract]`"
From @douglm:

[code]

What gets generated is this:

[code]

Which turns into:

[code]

That is - we lose the first paragraph. For subscription upgrade I have 3 paragraphs and I just realized I lost the first:

[code]

became

[code]

[2021-05-07 11:57] opoudjis commented on #146
That's a markup error. What you want is to indicate that all three paragraphs are the abstract, but the `[abstract]` style attribute is only being applied to the first paragraph. Instead, you want markup like the following, which treats the abstract as a clause:

[code]

This generates:

Metanorma XML:

[code]

RFC XML:

[code]

and  RFC TXT:

[code]

[2021-05-07 11:57] #146 closed

[2021-05-10 10:28] #143 closed

[2021-05-26 21:29] manuel489 opened #147 "Unable to compile IETF document"
*In relation to https://github.com/metanorma/rfc-asciidoc-rfc/issues/26*

I can't get to compile on IETF flavor, not even a simple document.

It seems like I get a different error message every time a compile.
But I'd say the most recurrent one is:

[code]

This is the document I've been trying to build:
[rfc-asciidoc-rfc.zip](https://github.com/metanorma/metanorma-ietf/files/6549704/rfc-asciidoc-

[2021-05-29 09:04] opoudjis commented on #147
If I include `include::sections/00-abstract.adoc[]` and `include::sections/06-sections.adoc[]`, I get it compiling OK on my Mac, so this seems to be a PC issue. The character range error does seem to be a python issue rather than a metanorma issue.

@CAMOBAP, any chance  you could look at this?

[2021-05-29 14:14] opoudjis commented on #140
It turns out that these were never removed from biblio.rnc, where they are supported as: `(street+, city, state?, country, postcode) | formattedAddress`. So will support these generically in standoc

[2021-05-29 14:45] opoudjis commented on #140
And we need fallback formatted rendering of these in isodoc:

[code]

[2021-05-29 16:21] #140 closed

[2021-06-01 04:12] ribose-jeffreylau opened #150 "Nokogiri version needs bumping"
See: https://github.com/advisories/GHSA-7rrm-v45f-jp64

[2021-06-01 17:37] manuel489 commented on #147
I asked Nermina to compile the document as well, and she is also struggling with it.
Maybe a Windows issue?

[2021-06-07 09:07] #150 closed

[2021-06-10 05:49] CAMOBAP commented on #147
@manuel489 @anermina to be on the same page

1. how usually you call metanorma on windows:
 - docker
 - PowerShell
 - cmd
 - other shell?

2. could you please confirm that issue exists (or not) for docker?
 - `docker run -v %cd%:/metanorma -v %USERPROFILE%\.fontist\fonts:/config/fonts -w /metanorma -it metanorma/mn metanorma -t ietf -x html draft-ribose-asciirfc.adoc --agree-to-terms` - for cmd
 -

[2021-06-10 14:16] opoudjis opened #152 "Deal wth SVG in Data URI"
If we have a Data URI encoded SVG file, we need to include it as a literal file in the RFC XML output: xml2rfc cannot cope with data uris.

[2021-06-10 14:55] #152 closed

[2021-06-10 23:38] manuel489 commented on #147
@CAMOBAP to answer your queries:

I use mostly *git bash* to compile metanorma documents.

I use docker in ubuntu (virtual machine). And I've tried to compile there but I can't get the latest version of `metanorma-ietf` by using `bundle update` (I'm stuck in version 2.1.3).

I've changed the code page to 65001 on Powershell. The issue persists.

In addition, I've also tried to compile in Ubuntu...

[2021-06-11 00:30] manuel489 commented on #147
The file I've been trying to build is: [rfc-asciidoc-rfc.zip](https://github.com/metanorma/metanorma-ietf/files/6635033/rfc-asciidoc-rfc.zip)
(from https://github.com/metanorma/rfc-asciidoc-rfc/issues/26)

[2021-07-11 03:53] ronaldtse opened #156 "Disable on-demand IETF WG/Area fetching and validation"
The answer on IETF WG/Area validation is provided here:
https://github.com/rfc-format/draft-iab-xml2rfc-v3-bis/issues/27

1. There is no authoritative list
2. There is no guidance on the correct format
3. We should provide this information inside metanorma-ietf (and potentially updated by the mirrored metanorma-ietf-data) because we cannot expect tools.ietf.org be always up.

We should only issue

[2021-07-12 22:08] petithug opened #157 "The revdate document attribute is not used to generate the date"
Apparently published-date and circulated-date are used instead of rev-date in the code, but that contradicts the documentation.

[2021-07-13 04:26] opoudjis commented on #157
That may well be legacy in documentation: metanorma does indeed privilege published-date, and revdate is only intended now for minor versions

[2021-07-13 05:26] ronaldtse commented on #157
Thanks @petithug looks like a bug in the documentation. We previously indeed use `revdate` for the versioning but it is now superseded by the new "generic bibliographic dates". We shall get the docs updated.

[2021-07-13 07:48] opoudjis commented on #147
Unassigning myself, as this is a PC issue. @CAMOBAP if there is something I need to do here, let me know

[2021-07-13 10:21] #157 closed

[2021-07-15 19:07] CAMOBAP commented on #147
In progress

[2021-07-15 20:05] CAMOBAP commented on #132
Doesn't reproduces anymore

[2021-07-15 20:05] #132 closed

[2021-07-19 16:55] ronaldtse opened #159 "Duplicated definition of constant BCP_KEYWORDS"
[code]

Either namespace both or share constant from a single location.

[2021-07-19 16:59] opoudjis commented on #159
Already  detected and addressed:

[2021-07-19 16:59] #159 closed

[2021-07-20 02:10] ronaldtse commented on #159
Thanks.

[2021-07-22 18:21] CAMOBAP commented on #147
Tested on VM and Actual OS (via Bootcamp)

@manuel489 BTW what is the language selected in your OS? English or some other?

[2021-07-22 18:25] manuel489 commented on #147
@CAMOBAP English

[2021-07-24 11:20] CAMOBAP commented on #66
Generally the issues is fixed, now we have repo-specific issues

[2021-07-24 11:20] #66 closed

[2021-07-24 13:05] CAMOBAP commented on #147
Regarding `No such file: draft-ribose-asciirfc.rfc.xml` AFAIK it's known issue

I have tested `git bash` also, the same cannot reproduce the original issue.

@manuel489 I need more info from your side
 - please try to compile in `cmd` or `powersehll` also
 - also please post here output for `env`, `locale -i`, `locale -u`, `locale -s` commands from your `Git Bash`

[2021-07-24 14:31] manuel489 commented on #147
Hi @CAMOBAP,
Attending to your query, this `zip` file contains the requested info in both `git bash` and `powershell`:
[compilation-info-manuel.zip](https://github.com/metanorma/metanorma-ietf/files/6872576/compilation-info-manuel.zip)

Something weird happened, when I compile directly on [rfc-asciidoctor-rfc](https://github.com/metanorma/rfc-asciidoc-rfc), I get the already known `No such file: d

[2021-07-26 05:12] CAMOBAP commented on #147
Thanks, @manuel489 may I also ask you to attach generated `*rfc..xml` files here

Short summary. The issue happens on the python side. Also, I see that there is `python` from Libreoffice used for some reason. So I need also to execute:
 - `where python`
 - `python -c "import sysconfig;print('{}'.format('\n'.join(['{} = {}'.format(v, sysconfig.get_config_var(v)) for v in sorted(sysconfig.get_config

[2021-07-26 15:10] manuel489 commented on #147
@CAMOBAP
Ok, I attach generated `*rfc..xml`:
[rfc-asciidoc-rfc_compilation.zip](https://github.com/metanorma/metanorma-ietf/files/6879248/rfc-asciidoc-rfc_compilation.zip)

As per the commands,
`where python` output in `git bash` (in `powershell` shows nothing):
[code]

`python -c "import sysconfig;...` command in `git bash` (same output for `powershell`):
[code]

[2021-07-26 19:20] CAMOBAP commented on #156
PR is ready for review

[2021-07-27 03:01] ronaldtse commented on #159
For the record this still shows up in metanorma-cli 1.4.12 (packed-mn):
[code]

Hope this will no longer appear in 1.4.13.

[2021-07-27 10:31] CAMOBAP commented on #147
@manuel489 thanks you a lot for your support, because of you I have a lot of data to analyze but still not enough to propose a fix so could you please also do (only in `git bash`):

1. run command `/c/Users/Manuel/AppData/Local/Microsoft/WindowsApps/python.exe --version`
2. run command `env PATH="/c/Users/Manuel/AppData/Local/Microsoft/WindowsApps/:$PATH" bundle exec metanorma -t ietf -x html draf

[2021-07-27 21:33] manuel489 commented on #147
@CAMOBAP
Ok, these are my results:

1. I get "Permission denied":
[code]

I find this a little bit strange because if I execute `ls -l` on that folder:
[code]

It says that I have enough permissions on the `python.exe` file.

2.  Basically, it throws me the same error message:
[compilation-output-git_bash.txt](https://github.com/metanorma/metanorma-ietf/files/6888839/compilation-output-git_bash.tx

[2021-07-27 21:35] CAMOBAP commented on #147
@manuel489 but the update of `xml2rfc` didn't help with the original issue, right?

[2021-07-27 21:36] manuel489 commented on #147
No, it didn't.

[2021-07-27 21:44] CAMOBAP commented on #147
I think as a temporal solution Python from chocolatey may help
1. `choco install -y python`
2. `refreshenv`
3. try to compile again

[2021-07-27 22:41] manuel489 commented on #147
@CAMOBAP I did what you proposed, and still get the same error message.

[2021-07-27 22:47] manuel489 commented on #147
Additional info:

[code]

[code]

[2021-07-28 11:41] Intelligent2013 commented on #147
Sorry for intervention, but looks like a few versions of Python installed on Win and/or parts from the different version are using.

@manuel489 could you check some things  in Windows:
1. open `cmd` (not powershell, not git bash, just Start->cmd) and run:
  - `C:\Python39\python.exe --version`
  - `C:\Program Files\LibreOffice\program\python.exe --version`
  - `C:\Users\Manuel\AppData\Local\Micros

[2021-07-28 15:13] manuel489 commented on #147
Hi @Intelligent2013, thank you for getting involved 😃

These are my results from `cmd`:

1.
[code]

[code]
[code]

2. The value is `1114111`:
[code]

Thanks!

[2021-07-28 15:32] Intelligent2013 commented on #147
'C:\Program' is not recognized as an internal or external command,
operable program or batch file.`

@manuel489 please enclose in the double quotes:
`"C:\Program Files\LibreOffice\program\python.exe" --version`

[2021-07-28 15:47] manuel489 commented on #147
Thanks @Intelligent2013, here is the result:
[code]

[2021-07-28 17:48] Intelligent2013 commented on #147
@manuel489 thank you. Could you also run `"C:\Program Files\LibreOffice\program\python.exe"` and:
[code]

[2021-07-28 17:54] manuel489 commented on #147
@Intelligent2013, ok:
[code]

[2021-07-29 21:29] CAMOBAP commented on #147
After testing on @manuel489 's machine some more details:
1. issue doesn't reproduce on python 3.9, if it loads xml2rfc from python 3.9
2. also issue randomly doesn't reproduce even on 3.5.5 from LibreOffice

Suggestion is to upgrade LibreOffice

Next issue will be resolved in the scope of https://github.com/metanorma/rfc-asciidoc-rfc/issues/32

[2021-07-29 21:30] CAMOBAP commented on #147
@manuel489 please let me know if upgrade will not work for you

[2021-07-30 17:43] manuel489 commented on #147
@CAMOBAP I've updated LibreOffice to 7.0.6.
Unfortunately, I still cannot build the document. This time, the last line of the message says "Cannot continue processing".
This is the log: [compilation_msg_after_upgrade.txt](https://github.com/metanorma/metanorma-ietf/files/6909211/compilation_msg_after_upgrade.txt)

[2021-07-30 17:53] CAMOBAP commented on #147
@manuel489 because this is separate issue which I mentioned in my comment above.

I'm going to close this one because workaround for the original issue was found

[2021-07-30 17:53] #147 closed

[2021-08-09 10:50] #156 closed

[2021-08-17 14:41] opoudjis opened #161 "feature requests"
From @petithug :

As discussed, please find below a first batch of issues found in metanorma-ietf and/or its documentation.  For this batch I focused on the AsciiDoc marks that can be used inline.  But first a few words about my methodology.  My goal is in two parts:

First be sure that there is a way from a metanorma-ietf document to generate *all* valid RFC7991+ elements, without exceptions.  By

[2021-08-20 13:57] opoudjis commented on #161
Here's a second batch of issues, same methodology but this time about blocks.

- In https://www.metanorma.org/author/ietf/topics/markup/#source-code-listings, the second example does not generate a `<sourcecode>` inside a `<figure>`, but inside a `<t>`.

- In https://www.metanorma.org/author/ietf/topics/markup/#ascii-art-and-images it is said that `<artwork>` occurs only in `<figure>`, which is in

[2021-09-18 12:38] opoudjis commented on #161
Implemented `pass-mn:format[]` macro; e.g. `pass-mn:rfc[<u>x</u>]` will deliver RFC XML `<u>x</u>`.

[2021-09-18 12:58] opoudjis commented on #161
https://datatracker.ietf.org/doc/html/draft-levkowetz-xml2rfc-v3-implementation-notes-13#section-3.1.5

Relaxing the original constraints on br appearing only in sourcecode.

[2021-09-18 13:20] opoudjis commented on #161
The documentation is indeed incorrect: iref has no children.

[2021-09-18 13:24] opoudjis commented on #161
@petithug

Could you spell this out please? The syntax used in those two sections seems to me to be the same as that in the remainder of the page.

[2021-09-18 14:19] opoudjis commented on #161
Not a legitimate example, removed from documentation and replaced with `<<RFC2119>>`

Bug, fixed

Typo for `<<RFC2119,of,section=4.3: text>>`. This is processed correctly.

Typo for `<<RFC2119#fragment,of,section=4.3: text>>`. This is now processed correctly.

We have however a new issue: that our generated RFC references are not being recognised by xml2rfc as such.

[2021-09-18 15:05] opoudjis commented on #161
Rectified RFC reference recognition: seriesInfo needs to be RFC or Internet-Draft, not IETF

[2021-09-18 15:36] opoudjis commented on #161
Not replicating: the sourcecode is not inside a t, but a first level child of section. Correcting documentation, this was inherited from RFC XML v2.

[2021-09-18 15:46] opoudjis commented on #161
Fixed documentation.

[2021-09-18 15:48] opoudjis commented on #161
Fixed documentation.

[2021-09-20 01:51] ronaldtse commented on #161
How about a more generic `pass-format:{format}[{content}]` instead of `pass-mn:{format}[{content}]`?

[2021-09-20 13:19] opoudjis commented on #161
... What on earth does that buy me?!

[2021-09-20 13:58] opoudjis commented on #161
https://github.com/metanorma/metanorma-standoc/issues/24 is our past ticket on content based identifiers; we will revisit. The identifiers will only be stable so long as their content is stable, but that may be enough.

[2021-09-21 01:53] ronaldtse commented on #161
I believe content-based identifiers will address @petithug 's concerns about random IDs. Let us know, thanks!

[2021-09-22 10:16] opoudjis commented on #161
@petithug: The one feature we will not implement is `contact`, because that is a bit too idiosyncratic to incorporate into our semantics; but we now have both inline and block passthrough for RFC XML.

[2021-09-22 10:38] petithug commented on #161
@opoudjis That's fine, it could even be a good example of use of the passthrough in the documentation.

That said it seems that I cannot use a passthough in an appendix (in the contributor section in my case):

Metanorma XML Syntax: (XML Line 004389:28): element "passthrough" not allowed here; expected the element
end-tag or element "admonition", "bookmark", "clause", "dl", "example", "figure", "f

[2021-09-22 10:39] opoudjis commented on #161
I'm about to update the grammar, working on inline cref now as well.

[2021-09-22 10:41] petithug commented on #161
@ronaldtse As long as the ID do not change at each generation of the same document, that's good enough for my needs, which is running tests.

[2021-09-22 10:45] petithug commented on #161
@opoudjis Great for the cref.  I am working on a small tool that would extract the cref elements from an Internet-Draft and, together with the info file generated by xml2rfc, will automatically format a review ready to be submitted.  Having cref in metanorma, together with rfc2mn, will make reviewing a document even easier.

[2021-09-22 11:50] opoudjis commented on #161
Inline cref to be implemented as block cref + crossreference macro:

[code]

[2021-09-22 12:00] petithug commented on #161
Nice.  I am looking forward to use all the improvements in this thread as soon they are released.

[2021-09-22 12:03] opoudjis commented on #161
`<u>` rendered by detecting non-ascii characters in text in postprocessing, and wrapping them with `<u></u>` when generating RFC XML. If detailed `<u>` with attributes is needed, switch to passthrough.

[2021-09-22 12:28] opoudjis commented on #161
The Metanorma approach is that list items are always paragraphs, for consistency, but I can remove the t wrapper in list items if there is just a single t.

[2021-09-22 12:32] opoudjis commented on #161
I'm closing this ticket, as I have now gone through all points raised; I'm keeping https://github.com/metanorma/metanorma-standoc/issues/24 as a separate issue, and I will try to get to it within a fortnight.

[2021-09-22 12:41] #161 closed

[2021-09-29 11:31] opoudjis commented on #16
@Intelligent2013 is rfc2mn integrated into mnconvert? Is this ticket complete?

[2021-09-29 11:34] opoudjis opened #163 "Constrain appearances of <u>"
From https://github.com/metanorma/metanorma-ietf/issues/161, we are injecting `<u>` around Unicode characters. That is triggering a syntax error in an instance of `[[[SP800-131A,NIST SP 800-131A]]]`. Need to constrain the occurrences of `u` more strictly, and to ensure that there are no smart quotes or dashes in IETF Metanorma XML, including in Relaton content.

[2021-09-29 11:38] opoudjis commented on #163
The NIST Relaton entry contains a smart em-dash, `&#8201;&#8212;&#8201;`. We will need to unsmarten that.

[2021-09-29 12:07] opoudjis commented on #163
We have constrained `<u>` explicitly to children of `t blockquote li dd preamble td th annotation`

We are currently unsmartening only single and double quote in IETF Metanorma XML. Need to extend to spaces and dashes.

IETF expects dashes to be dumb: `Information Processing Systems - Local Area Networks - Part 3: Carrier sense multiple access with collision detection (CSMA/CD) access method and p

[2021-09-29 12:12] Intelligent2013 commented on #16
@opoudjis yes.

yes, except one issue. Moved to the separate ticket.
Closing.

[2021-09-29 12:12] #16 closed

[2021-09-29 12:25] #163 closed

[2021-10-04 14:17] petithug commented on #163
You may want to add
.gsub(/\u2026/, "...")
.gsub(/\u200b/, ""),

to the list.

[2021-10-04 15:09] opoudjis commented on #163
Good call. Adding.

[2021-10-04 15:34] petithug commented on #163
I also had some issues with "<" since 2.4.2.  I fixed that with the following change:

-        n.replace(n.text.gsub(/[\u0080-\uffff]/, "<u>\\0</u>"))
+        n.text.gsub!(/[\u0080-\uffff]/, "<u>\\0</u>")

[2021-10-05 14:20] petithug opened #164 "Invalid generation for editorial notes"
This standalone note

[code]
Generates xml2rfc source with two errors:

- the title should not be converted into a name element.
- the t element should be outside the cref element, not inside.

Same when referenced by the inline macro cref.

[2021-10-06 03:03] ronaldtse commented on #164
Thanks @petithug !

[2021-10-07 11:04] #164 closed

[2021-10-25 22:32] petithug opened #167 "Since 2.5.0.1 all my documents fail to build"
Please try with attached files.

[adoc.zip](https://github.com/metanorma/metanorma-ietf/files/7413892/adoc.zip)

[2021-10-26 11:08] #167 closed, assigned to opoudjis

[2021-12-16 09:57] ronaldtse opened #169 "Remove unneeded executables (`.bat` file) for packed-mn on Windows"
The `.bat` file is shown to be dropped in host in VirusTotal:
https://www.virustotal.com/gui/file/3894e66aa4aef6e71ea83865021aff61450c1ab8a9f137baf1e671ecf58a94c0/behavior/VirusTotal%20Observer

<img width="738" alt="Screenshot 2021-12-16 at 5 56 48 PM" src="https://user-images.githubusercontent.com/11865/146349719-17cf8281-0d4a-451b-bd2e-c9ec536ef9bc.png">

We have to remove it, and the other exe

[2021-12-16 17:29] #169 closed

[2022-01-27 12:32] opoudjis opened #175 "RFC document identifier type"
As a result of https://github.com/ietf-ribose/bibxml-service/issues/59, all references to IETF as a document identifier type in Metanorma need to be replaced with RFC.

Update in relaton to generate RFC document type shall be 1.10.

[2022-01-31 10:50] opoudjis commented on #175
Only metanorma-ietf is impacted, since only metanorma-ietf drops IETF prefix. I am going to drop either IETF or RFC as prefixes, since both have now been used in relaton-ietf: the former for I.-D., the latter for RFC.

[2022-01-31 11:01] #175 closed

[2022-05-26 07:52] ronaldtse opened #177 "Validate that modification of the "anchor" attribute does not affect xml2rfc behavior"
The BibXML Service is now online and the API allows generation of custom anchors. The old anchors are provided in the legacy data set.

This task is to test Metanorma's generation of RFC XML that uses custom anchors.

[2022-05-26 07:53] ronaldtse commented on #177
All that we need is to use Metanorma to generate an RFC XML, then manually change an anchor in definition and usage. And check that xml2rfc processes it properly.

[2022-05-26 07:57] ronaldtse commented on #177
It is likely that we cannot use the ENTITY style, because xml2rfc will auto-fetch from xml2rfc.tools.ietf.org, which contains the old hardcoded anchor.

The usage of ENTITY is why the anchor is tied and cannot be unbound. Therefore, we must not use ENTITY for this to work.
i.e. the MN generated RFC XML should not trigger reference auto-fetching by xml2rfc.

[2022-05-28 11:03] opoudjis commented on #177
It turns out that you have already disabled the anchors, by suppressing the generation of `/bibitem/uri[@type = 'xml']`. If there is no URI being supplied that points to the xml2rfc.tools.ietf.org repository, so that xi:include can retrieve the XML from it, then no xi:include is going to be generated to begin with. With updated xml2rfc, documents are being generated.

[2022-05-28 11:08] opoudjis commented on #177
Confirmed that removing `rfc_anchor_cleanup()` (which updated bibliographic anchor to supplied scope identifier) does not impact generating xml2rfc.

[2022-05-28 11:08] #177 closed